// $icon-font-path: 'https://acessocdn.azureedge.net/cdn/style';
$icon-font-path: 'https://i.icomoon.io/public/f995540dd0/IconografiadaAcesso';

$icon-acesso: "\e90b";
$icon-change-password: "\e916";
$icon-chat: "\e91e";
$icon-checked-1: "\e920";
$icon-circle-dolar: "\e929";
$icon-close-2: "\e930";
$icon-coupon-2: "\e932";
$icon-coupon-info: "\e933";
$icon-delivery-truck: "\e93a";
$icon-email-sent: "\e94c";
$icon-hide-password: "\e954";
$icon-limits-info: "\e957";
$icon-loading: "\e958";
$icon-location-car: "\e95c";
$icon-money-path1: "\e960";
$icon-money-path2: "\e962";
$icon-money-path3: "\e964";
$icon-number-card: "\e965";
$icon-payment-bill: "\e977";
$icon-rates: "\e978";
$icon-tax-info-path1: "\e979";
$icon-tax-info-path2: "\e97a";
$icon-sun: "\e90c";
$icon-world: "\e900";
$icon-wifi: "\e901";
$icon-user-status: "\e902";
$icon-user-info: "\e903";
$icon-unblock: "\e904";
$icon-tv: "\e905";
$icon-tshirt: "\e906";
$icon-trophy: "\e907";
$icon-transfer: "\e908";
$icon-telecommunications: "\e909";
$icon-ted-doc: "\e90a";
$icon-status-happy-card: "\e90d";
$icon-sms-sent: "\e90e";
$icon-show-password: "\e90f";
$icon-share: "\e910";
$icon-services: "\e911";
$icon-school: "\e912";
$icon-sad-card: "\e913";
$icon-reminder: "\e914";
$icon-recharge: "\e915";
$icon-printer: "\e917";
$icon-plus2: "\e918";
$icon-plus: "\e919";
$icon-players: "\e91a";
$icon-plane: "\e91b";
$icon-phone: "\e91c";
$icon-payment-card: "\e91d";
$icon-password: "\e91f";
$icon-no-sun: "\e921";
$icon-no-padlock: "\e922";
$icon-no-magnetic: "\e923";
$icon-no-key: "\e924";
$icon-no-clips: "\e925";
$icon-newspaper: "\e926";
$icon-music: "\e927";
$icon-money-pig: "\e928";
$icon-medal: "\e92a";
$icon-mastercard: "\e92b";
$icon-shopping-cart: "\e92c";
$icon-maplocation: "\e92d";
$icon-magnetic: "\e92e";
$icon-lottery: "\e92f";
$icon-location: "\e931";
$icon-limits: "\e934";
$icon-key: "\e935";
$icon-internet: "\e936";
$icon-insert-card: "\e937";
$icon-hotel: "\e938";
$icon-home: "\e939";
$icon-help: "\e93b";
$icon-healthy-heart: "\e93c";
$icon-happy-recharge: "\e93d";
$icon-happy-padlock-2: "\e93e";
$icon-happy-padlock: "\e93f";
$icon-happy-desktop: "\e940";
$icon-happy-cellphone: "\e941";
$icon-gift: "\e942";
$icon-getout: "\e943";
$icon-gasoline: "\e944";
$icon-furniture: "\e945";
$icon-friends: "\e946";
$icon-fork-knife: "\e947";
$icon-flag-success: "\e948";
$icon-fail-padlock: "\e949";
$icon-factory: "\e94a";
$icon-exclamation: "\e94b";
$icon-email: "\e94d";
$icon-ecommerce: "\e94e";
$icon-dog: "\e94f";
$icon-documents: "\e950";
$icon-document: "\e951";
$icon-diamond: "\e952";
$icon-deposit: "\e953";
$icon-cvc: "\e955";
$icon-custom: "\e956";
$icon-corporatecard: "\e959";
$icon-corporate: "\e95a";
$icon-construction: "\e95b";
$icon-error: "\e95d";
$icon-clipboard: "\e95e";
$icon-clip: "\e95f";
$icon-choose-card: "\e961";
$icon-checked: "\e963";
$icon-celphone: "\e966";
$icon-cellphone: "\e967";
$icon-casino: "\e968";
$icon-cash-out: "\e969";
$icon-cash-money: "\e96a";
$icon-cardmachine: "\e96b";
$icon-car: "\e96c";
$icon-camera: "\e96d";
$icon-bus: "\e96e";
$icon-padlock: "\e96f";
$icon-beauty: "\e970";
$icon-bag: "\e971";
$icon-arrow: "\e972";
$icon-advantages-star: "\e973";
$icon-advantages-info: "\e974";
$icon-activation: "\e975";
$icon-acessocard: "\e976";