// Textos parágrafos

.main-article {
	
	p {
		line-height: 1.2;
		margin: rem(16) 0;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	@media #{$medium-and-up} {
		p {
			font-size: rem(18);
		}
	}
}