// Validação dos inputs

// Variáveis

$squash: #f4a81d;

$input-success-color: #67c004;
$input-warning-color: $squash;
$input-error-color: #d61111;
$input-warning-border: 1px solid $input-warning-color !default;


.validate {
	
	display: block;
	font: italic 600 14px/1 'Roboto', arial, sans-serif;
  margin-top: 2px;
	text-align: left;

	&.invalid,
	&.invalid i {
		color: $input-error-color;
	}

	&.warning,
	&.warning i {
		color: #f4a81d;
	}

	&.valid,
	&.valid i {
		color: $input-success-color;
	}

	i {
		padding-right: 4px;
    font-size: 15px;
	}

  &.loading {
      color: $input-disabled-color;
    i {
      color: $input-disabled-color;
      padding-right: 0;
    }
  }
  &.feedback-bottom {
    font-size: rem(16);
    margin-top: rem(10);
  }
}


input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search] {

	 // Estilo para input válido
  &.valid,
  &:focus.valid {
    border-bottom: 1px solid $input-success-color;
    box-shadow: 0 1px 0 0 $input-success-color;
  }

  // Custom Success Message
  &.valid + label:after,
  &:focus.valid + label:after {
    content: attr(data-success);
    color: $input-success-color;
    opacity: 1;
  }

  // Invalid Input Style
  &.invalid,
  &:focus.invalid {
    border-bottom: $input-invalid-border;
    box-shadow: 0 1px 0 0 $input-error-color;
  }

  // Custom Error message
  &.invalid + label:after,
  &:focus.invalid + label:after {
    color: $input-error-color;
    content: attr(data-error);
    opacity: 1;
  }

  // Estilo de input de alerta
  &.warning,
  &:focus.warning {
    border-bottom: $input-warning-border;
    box-shadow: 0 1px 0 0 $input-warning-color;
    color: $input-warning-color;
  }

  // Mensagem de alerta personalizada
  &.warning + label:after,
  &:focus.warning + label:after {
    color: $input-warning-color;
    content: attr(data-error);
    opacity: 1;
  }

}