// Classes para títulos e subtitulos
//
.main-title {
	color: #000;
	font: normal 500 20px/1 'Poppins', sans-serif;
	margin: 0;

	
}

// Título do produto - Nome do produto por exemplo: Cartão Acesso Chip
.internal-title {
	color: #000;
	font: normal 500 18px/1 'Poppins', sans-serif;
	margin: 0;
	+ .internal-title {
		margin-top: 8px;
	}
}

.internal-header {
	margin-bottom: 8px;
  text-align: left;
  width: 100%;
}

// Título do formulário de cadastro de novos usuários
.congrats-title {
	@extend .internal-title;
	color: $blue-sky;
	font-size: rem(24); //34px
	font-weight: 700;
}
.congrats-subtitle {
	@extend .internal-title;
	font-weight: normal;
}

@media #{$medium-and-up} {
	.main-title {
		font-size: rem(28);
		font-size: 1.75rem;
	}
	.internal-title {
		font-size: 20px;
		font-size: rem(24);
	}

	.congrats-title {
		font-size: rem(34);
		font-weight: 500;
	}
	.congrats-subtitle {
		margin-bottom: 30px;
	}
	.flow-text {
		font-size: rem(20);
	}
}