// Variáveis usados nas folhas de estilos da Acesso


// 1 - Cores
// ==========================================================================
$blue-sky: #33a4dc;
$navy: #145E7C;
$mustard: #EECA44;

$squash: #f3a71c;
$dark-blue-sky: #33a4dc;
$maize: #eeca44;

$gray: #d8d8d8;
$black: #000000;

$frog-green: #67c004;


// Default
$main-color: $blue-sky; // Azul da Acesso
$secondary-color: $navy; // Azul Marinho

$link-color: red;
$warm-grey: #838383;
$cold-grey: #d9d9d9;


// Cores do Material
// ==========================================================================

$primary-color: color("materialize-red", "lighten-2") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;


// 2 - Fonts
// =========================================================================
$roboto-font-path: "/assets/fonts/roboto/" !default;
$poppins-font-path: "/assets/fonts/poppins/" !default;

// 3 - Tipografia
// =========================================================================
$h1-fontsize: 22px !default;
$h2-fontsize: 18px !default;
// As variáveis abaixo não foram definidas seguindo o layout //
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 18px !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1rem !default;
$paragraph-fontsize: 1rem !default;

// 4 - Media Query
// =========================================================================
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// 5 - Grid
// =========================================================================
$num-cols: 12 !default;
$gutter-width: 1rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;


// 6 - Texto  Fluido .flou-text
// =========================================================================
$range : $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;

// 7 - Radio Buttons
$radio-fill-color: $blue-sky !default;
$radio-empty-color: $warm-grey !default;
$radio-border: 2px solid $radio-fill-color !default;



// 10 - Forms
// ==========================================================================

// Text Inputs + Textarea
$input-height: 3rem !default;
$input-border-color: color("grey", "base") !default;
$input-border: 1px solid $input-border-color !default;
$input-background: #fff !default;
$input-error-color: $error-color !default;
$input-success-color: $frog-green !default;
$input-focus-color: $secondary-color !default;
$input-font-size: rem(20) !default;
$input-margin: 0 0 20px 0 !default;
$input-padding: 0 !default;
$input-transition: all .3s !default;
$label-font-size: .8rem !default;
$input-disabled-color: #d9d9d9 !default;
$input-disabled-solid-color: #BDBDBD !default;
$input-disabled-border: 1px dotted $input-disabled-color !default;
$input-invalid-border: 1px solid $input-error-color !default;
$placeholder-text-color: lighten($input-border-color, 20%) !default;
