.btn {
  &.btn-link {
    @include font-size(16px);
    @include respond-to(sm) {
      @include font-size(18px);
    }


    background-color: transparent;
    box-shadow: none;
    font-weight: 500;
    height: auto;
    width: auto;

    &:not([disabled]) {
      color: $button-link-text-color;

      &::before {
        @include respond-to(sm) {
          transform: scaleX(0);
          visibility: hidden;
        }


        background-color: currentColor;
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        transform: scaleX(1);
        transition: transform .2s ease-in-out 0s;
        visibility: visible;
        width: 100%;
      }

      &:hover,
      &.hover {
        &::before {
          @include respond-to(sm) {
            transform: scaleX(1);
            visibility: visible;
          }
        }
      }
    }

    &[disabled] {
      color: $disabled-color;
    }
  }
}
