.btn {
  @include font-size(18px);
  @include respond-to(sm) {
    @include font-size(20px);
  }


  border: 0;
  border-radius: 5px;
  color: $button-text-color;
  cursor: pointer;
  font-family: Poppins, Arial;
  height: 40px;
  outline: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  &.btn-small {
    @include font-size(14px);
    @include respond-to(sm) {
      @include font-size(16px);
    }


    font-family: Roboto, Arial;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    padding: 0 20px;
    width: auto;
  }

  &[disabled],
  &.disabled {
    background-color: $disabled-color;
    box-shadow: 0 3px 0 0 $disabled-shadow-color;
    cursor: not-allowed;
  }

  &::after {
    background: $button-after-color;
    border-radius: 100%;
    content: '';
    height: 5px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
    visibility: hidden;
    width: 5px;
  }

  &:focus {
    &::after {
      visibility: visible;
    }

    &:not(:active) {
      &::after {
        animation: ripple 1s ease-out;
      }
    }
  }
}

@keyframes ripple {
  from {
    opacity: .4;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(100);
  }
}
