---
notes: |
  These are notes associated with this `button` component.
---

<div class="row">
	<div class="col s12">
		<h3>Disabled Button</h3>
		<p>To use, place the following class <code>.buton</code></p>
	</div>
	<div class="col s12 m6">
		<div class="preview">
			<p class="title-code">Example:</p>
			<a class="waves-effect waves-light button">default</a>				
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;a class="waves-effect waves-light button"&gt;default&lt;/a&gt;</code>
			</pre>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h3>Disabled Button</h3>
		<p>To use, place the following class <code>.buton-disabled</code> or add attribute <code>disbaled</code> in the button</p>
	</div>
	<div class="col s12 m6">
		<div class="preview">
			<p class="title-code">Example:</p>
			<a class="waves-effect waves-light button-disabled">disabled</a>				
			<a class="waves-effect waves-light button" disabled>disabled</a>				
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;a class="waves-effect waves-light button-disabled"&gt;disabled&lt;/a&gt;</code>
			</pre>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h3>Large Button</h3>
		<p>To use, place the following class <code>.buton-disabled</code> or add attribute <code>disbaled</code> in the button</p>
	</div>
	<div class="col s12 m6">
		<div class="preview">
			<p class="title-code">Example:</p>
			<a class="waves-effect waves-light button-large">large</a>				
			<a class="waves-effect waves-light button-large-disabled" disabled>disabled</a>				
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;a class="waves-effect waves-light button-disabled"&gt;disabled&lt;/a&gt;</code>
			</pre>
		</div>
	</div>
</div>