---
notes: |
  These are notes associated with this `button` component.
---

<div class="row">
	<div class="col s12">
		<h4>Default Button</h4>
		<p>
			To use, place the following class <code>.button</code> and will be dispalyed the default button without effects.
			This button has a larger height for buttons that need more attention.
		</p>
		<p>
			If you want a ripple effect, you can add <code>waves-effect</code> and <code>waves-light</code> and will appear on click action.
		</p>
	</div>
	<div class="col s12">
		<div class="preview">
			<p class="title-code">Example:</p>
			<button class="button">default without ripple</button>				
			<button class="waves-effect waves-light button">default with ripple</button>				
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;button class="button"&gt;default&lt;/button&gt;</code><br>
				<code class="language-markup">&lt;button class="waves-effect waves-light button"&gt;default with ripple&lt;/button&gt;</code>
			</pre>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h4>Disabled Button</h4>
		<p>To use, place the following class <code>.buton-disabled</code> or add attribute <code>disbaled</code> in the button.</p>
	</div>
	<div class="col s12">
		<div class="preview">
			<p class="title-code">Example:</p>
			<button class="button-disabled">disabled</button>				
			<button class="button" disabled>disabled</button>				
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;button class="button-disabled"&gt;disabled&lt;/button&gt;</code><br/>
				<code class="language-markup">&lt;button class="button" disabled&gt;disabled&lt;/button&gt;</code>
			</pre>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h4>Small Button</h4>
		<p>To use, place the following class <code>.buton-disabled</code> or add attribute <code>disbaled</code> in the button</p>
	</div>
	<div class="col s12">
		<div class="preview">
			<p class="title-code">Example:</p>
			<button class="waves-effect waves-light button-small">small</button>				
			<button class="waves-effect waves-light button-small-disabled" disabled>Small disabled</button>				
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;button class="waves-effect waves-light button-small"&gt;small&lt;/button&gt;</code><br>
				<code class="language-markup">&lt;button class="waves-effect waves-light button-small-disabled"&gt;button-small-disabled&lt;/button&gt;</code>
			</pre>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h4>Secondary Button</h4>
		<p>To use, place the following class <code>.buton-disabled</code> or add attribute <code>disbaled</code> in the button</p>
	</div>
	<div class="col s12">
		<div class="preview">
			<p class="title-code">Example:</p>
			<button class="waves-effect waves-light secondary-button-disabled">Secondary</button>				
			<button class="waves-effect waves-light secondary-button">label</button>				
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;button class="waves-effect waves-light secondary-button"&gt;large&lt;/button&gt;</code><br>
				<code class="language-markup">&lt;button class="waves-effect waves-light button-large-disabled"&gt;button-large-disabled&lt;/button&gt;</code>
			</pre>
		</div>
	</div>
</div>


<div class="row">
	<div class="col s12">
		<h4>Button with Icon</h4>
	</div>
	<div class="col s12">
		<div class="preview">
			<p class="title-code">Example:</p>
			<button class="button waves-effect waves-light">Default button with icon<i class="icon-copy left"></i></button>		
			<button class="secondary-button-disabled waves-effect waves-light">Disabled button<i class="icon-copy left"></i></button>		
			<button class="secondary-button waves-effect waves-light">Secondary Button<i class="icon-copy left"></i></button>		
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;button class="button waves-effect waves-light"&gt;Default button with icon&lt;/button&gt;</code><br>
				<code class="language-markup">&lt;button class="secondary-button-disabled waves-effect waves-light"&gt;Disabled button&lt;/button&gt;</code><br>
				<code class="language-markup">&lt;button class="secondary-button waves-effect waves-light"&gt;Secondary Button&lt;/button&gt;</code><br>
			</pre>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h4>Button Tiny</h4>
	</div>
	<div class="col s12">
		<div class="preview">
			<p class="title-code">Example:</p>
			<button class="button-tiny waves-effect waves-light">Save</button>		
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;button class="button-tiny waves-effect waves-light"&gt;Save&lt;/button&gt;</code><br>
			</pre>
		</div>
	</div>
</div>
