---
notes: |
  These are notes associated with this `button` component.
---

<div class="row">
	<div class="col s12 m6 l3">
		<a class="waves-effect waves-light button">label</a>	
	</div>
	<div class="col s12 m6 l3">
		<a class="waves-effect waves-light button"><i class="material-icons left">cloud</i>label</a>	
	</div>
	<div class="col s12 m6 l3">
		<a class="waves-effect waves-light button"><i class="material-icons right">cloud</i>label</a>	
	</div>
</div>



<h3>Large</h3>
<a class="waves-effect waves-light button-large">label</a>
<a class="waves-effect waves-light button-large"><i class="material-icons left">cloud</i>label</a>
<a class="waves-effect waves-light button-large"><i class="material-icons right">cloud</i>label</a>


<h3>Disbaled</h3>

<a class="button-large disabled">label</a>
<a class="button disabled">label</a>
<a class="button-flat disabled">label</a>
<a class="button-floating disabled"><i class="material-icons">add</i></a>
