---
notes: |
  These are notes associated with this `button` component.
---

<div class="row">
	<div class="col s12">
		<h4>Inputs</h4>
		<p>
			You must have a <code>.input-field</code> div wrapping your input and label. This helps our JS 
			animate the label. This is only used in our Input and Textarea form elements.
		</p>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h4>Input Disabled</h4>
		<p></p>
		<div class="preview">
			<p class="title-code">Example:</p>
			<div class="row">
        <div class="input-field col s12">
          <input id="full_name" type="text" disabled>
          <label for="full_name">Full Name</label>
        </div>
      </div>				
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;div&gt;</code><br>
				&nbsp;<code class="language-markup">&lt;input id="full_name" type="text" disabled&gt;</code><br>
				&nbsp;<code class="language-markup">&lt;label for="full_name"&gt;Full Name&lt;/label&gt;</code><br>
				<code class="language-markup">&lt;/div&gt;</code>
			</pre>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h4>Input With Validation</h4>
		<p>
			The validate class leverages HTML5 validation and will add a <code>valid</code> and <code>invalid</code> 
			class accordingly. If you don't want the Green and Red validation states, just remove the validate class from your inputs.
		</p>
		<div class="preview">
			<p class="title-code">Example:</p>
			<div class="row">
        <div class="input-field col s12">
          <input id="full_name" type="text" class="validate">
          <label for="full_name">Full Name</label>
          
	        <div class="feedback valid">
          	<div class="row">
          		<div class="col no-padding">
	          		<i class="icon-checked"></i>
          		</div>
          		<div class="col s11 no-padding">
								<span class="message">
	  	        		Valid name ;P
								</span>
          		</div>
	          </div>
          </div>

          <div class="feedback error">
          	<div class="row">
          		<div class="col no-padding">
          			<i class="icon-error"></i>
          		</div>
	          	<div class="col s11 no-padding">
								<span class="message">
		          		Wrong name format
								</span>
							</div>
          	</div>
          </div>
          <div class="feedback warning">
          	<div class="row">
          		<div class="col no-padding">
          			<i class="icon-exclamation"></i>
							</div>
							<div>
								<span class="message">
          				Name cannot contain number
								</span>
							</div>
						</div>
          </div>
          <div class="feedback tip">
          	<div class="row">
          		<div class="col s12 no-padding">
								<span class="tip-message">
		          		Recusandae voluptatibus consequuntur eius. Fugit saepe ex, porro laudantium molestiae laborum dolore vel doloribus, pariatur, quis eligendi. Excepturi itaque quo, dolorum tempore?
								</span>
							</div>
						</div>
          </div>
        </div>
      </div>				
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
				<pre class="language-markup">
				<code class="language-markup">&lt;div&gt;</code><br>
				&nbsp;<code class="language-markup">&lt;input id="full_name" type="text" class="validate"&gt;</code><br>
				&nbsp;<code class="language-markup">&lt;label for="full_name"&gt;Full Name&lt;/label&gt;</code><br>
				<code class="language-markup">&lt;/div&gt;</code>
			</pre>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h4>Input  button inside</h4>
		<p>
			The validate class leverages HTML5 validation and will add a <code>valid</code> and <code>invalid</code> 
			class accordingly. If you don't want the Green and Red validation states, just remove the validate class from your inputs.
		</p>
		<div class="preview">
			<p class="title-code">Example:</p>
			<div class="row">
        <div class="input-field button-inside col s12">
          <input id="full_name" type="text" class="sibling-button validate">
          <label for="full_name">Full Name</label>
          <div class="input-on">
          	<button type="submit" class="waves-effect waves-light">submit</button>
          </div>
          
	        <div class="feedback valid">
          	<div class="row">
          		<div class="col no-padding">
	          		<i class="icon-checked"></i>
          		</div>
          		<div class="col s11 no-padding">
								<span class="message">
	  	        		Valid name ;P
								</span>
          		</div>
	          </div>
          </div>

          <div class="feedback error">
          	<div class="row">
          		<div class="col no-padding">
          			<i class="icon-error"></i>
          		</div>
	          	<div class="col s11 no-padding">
								<span class="message">
		          		Wrong name format
								</span>
							</div>
          	</div>
          </div>
          <div class="feedback warning">
          	<div class="row">
          		<div class="col no-padding">
          			<i class="icon-exclamation"></i>
							</div>
							<div>
								<span class="message">
          				Name cannot contain number
								</span>
							</div>
						</div>
          </div>
          <div class="feedback tip">
          	<div class="row">
          		<div class="col s12 no-padding">
								<span class="tip-message">
		          		Recusandae voluptatibus consequuntur eius. Fugit saepe ex, porro laudantium molestiae laborum dolore vel doloribus, pariatur, quis eligendi. Excepturi itaque quo, dolorum tempore?
								</span>
							</div>
						</div>
          </div>
        </div>
      </div>				
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
				<pre class="language-markup">
				<code class="language-markup">&lt;div&gt;</code><br>
				&nbsp;<code class="language-markup">&lt;input id="full_name" type="text" class="validate"&gt;</code><br>
				&nbsp;<code class="language-markup">&lt;label for="full_name"&gt;Full Name&lt;/label&gt;</code><br>
				<code class="language-markup">&lt;/div&gt;</code>
			</pre>
		</div>
	</div>
</div>


