---
notes: |
  These are notes associated with this `button` component.
---

<div class="row">
	<div class="col s12">
		<h4>Inputs</h4>
		<p>
			You must have a <code>.input-field</code> div wrapping your input and label. This helps our JS 
			animate the label. This is only used in our Input and Textarea form elements.
		</p>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h4>Input Disabled</h4>
		<p></p>
		<div class="preview">
			<p class="title-code">Example:</p>
			<div class="row">
        <div class="input-field col s12">
          <input id="full_name" type="text" disabled>
          <label for="full_name">Full Name</label>
        </div>
      </div>				
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;div&gt;</code><br>
				&nbsp;<code class="language-markup">&lt;input id="full_name" type="text" disabled&gt;</code><br>
				&nbsp;<code class="language-markup">&lt;label for="full_name"&gt;Full Name&lt;/label&gt;</code><br>
				<code class="language-markup">&lt;/div&gt;</code>
			</pre>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h4>Input</h4>
		<div class="preview">
			<p class="title-code">Example:</p>
			<div class="row">
        <div class="input-field col s12">
          <input id="full_name" type="text" class="validate">
          <label for="full_name">Full Name</label>
        </div>
      </div>				
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;button class="button"&gt;default&lt;/button&gt;</code><br>
				<code class="language-markup">&lt;button class="waves-effect waves-light button"&gt;default with ripple&lt;/button&gt;</code>
			</pre>
		</div>
	</div>
</div>

