<div class="row">
	<div class="col s12">
		<p>
			If you want add icons, place the following class <code>.icon-copy</code>, you can align the icons 
			using <code>.left</code> and <code>.right</code>
		</p>
	</div>
	<div class="col s12">
		<div class="preview">
			<p class="title-code">Example:</p>
			<button class="button waves-effect waves-light">Default button with icon<i class="icon-copy left"></i></button><br><br>	
			<button class="secondary-button-disabled waves-effect waves-light">Disabled button<i class="icon-copy left"></i></button><br><br>		
			<button class="secondary-button waves-effect waves-light">Secondary Button<i class="icon-copy left"></i></button><br><br>		
			<button class="secondary-button-disabled waves-effect waves-light">Disabled button icon right<i class="icon-copy right"></i></button>		
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;button class="button waves-effect waves-light"&gt;Default button with icon&lt;/button&gt;</code><br>
				<code class="language-markup">&lt;button class="secondary-button-disabled waves-effect waves-light"&gt;Disabled button&lt;/button&gt;</code><br>
				<code class="language-markup">&lt;button class="secondary-button waves-effect waves-light"&gt;Secondary Button&lt;/button&gt;</code><br>
				<code class="language-markup">&lt;button class="secondary-button-disabled waves-effect waves-light"&gt;Disabled button icon right&lt;/button&gt;</code><br><br>
			</pre>
		</div>
	</div>
</div>