<div class="row">
	<div class="col s12">
		<p>
			To use, place the following class <code>.grad-default-button</code>.
		</p>
		<p>
			If you want a ripple effect, you can add <code>waves-effect</code> and <code>waves-light</code> and will appear on click action.
		</p>
	</div>
	<div class="col s12">
		<div class="preview">
			<p class="title-code">Example:</p>
			<button class="waves-effect waves-light grad-default-button">default gradient button</button>				
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;button class="waves-effect waves-light button"&gt;default with ripple&lt;/button&gt;</code>
			</pre>
		</div>
	</div>
</div>