<div class="row">
	<div class="col s12">
		<p>
			To use, place the following class <code>.button</code> and will be dispalyed the default button without effects.
			This button has a larger height for buttons that need more attention.
		</p>
		<p>
			If you want a ripple effect, you can add <code>waves-effect</code> and <code>waves-light</code> and will appear on click action.
		</p>
	</div>
	<div class="col s12">
		<div class="preview">
			<p class="title-code">Example:</p>
			<button class="button">default without ripple</button> <br /><br />				
			<button class="waves-effect waves-light button">default with ripple</button>				
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;button class="button"&gt;default&lt;/button&gt;</code><br>
				<code class="language-markup">&lt;button class="waves-effect waves-light button"&gt;default with ripple&lt;/button&gt;</code>
			</pre>
		</div>
	</div>
</div>