
<div class="row">
	<div class="col s12">
		<p>
			If you want to ghost button disable button place the following class <code>.ghost-button</code>.
		</p>
	</div>
	<div class="col s12">
		<div class="preview">
			<p class="title-code">Example:</p>
			<button class="waves-effect waves-light ghost-button">Ghost Button</button><br/><br/>				
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;button class="waves-effect waves-light ghost-button"&gt;large&lt;/button&gt;</code><br>
			</pre>
		</div>
	</div>
</div>