<div class="row">
	<div class="col s12">
		<p>To use, place the following class <code>.buton-disabled</code> or add attribute <code>disbaled</code> in the button.</p>
	</div>
	<div class="col s12">
		<div class="preview">
			<p class="title-code">Example:</p>
			<button class="waves-effect waves-light button-small">small</button>	<br /><br />			
			<button class="waves-effect waves-light button-small-disabled" disabled>Small disabled</button>				
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;button class="waves-effect waves-light button-small"&gt;small&lt;/button&gt;</code><br>
				<code class="language-markup">&lt;button class="waves-effect waves-light button-small-disabled"&gt;button-small-disabled&lt;/button&gt;</code>
			</pre>
		</div>
	</div>
</div>
