<div class="row">
	<div class="col s12">
		<p>
			To use, place the following class <code>.button-tiny</code> or add attribute disbaled in the button.
		</p>
	</div>
	<div class="col s12">
		<div class="preview">
			<p class="title-code">Example:</p>
			<button class="button-tiny waves-effect waves-light">Save</button>		
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
			<pre class="language-markup">
				<code class="language-markup">&lt;button class="button-tiny waves-effect waves-light"&gt;Save&lt;/button&gt;</code><br>
			</pre>
		</div>
	</div>
</div>
