$disabled-color: #d9d9d9;
$disabled-shadow-color: #c0c0c0;
$primary-color: #00a6df;
$primary-shadow-color: #25779f;
$accent-color: #f4a81d;
$success-color: #67c004;
$background-color: #f9f9f9;
$header-background-color: #fff;
$header-color: #838383;
$footer-background-color: #fff;
$footer-color: #fff;
$footer-copyright-color: #005d7a;
$panel-color: #838383;
$panel-background-color: #fff;
$panel-border-color: #d4d4d4;
$panel-title-color: #000;
$panel-subtitle-color: $primary-color;
