$icomoon-font-path: "../fonts" !default;

$icon-acessocard: "\e900";
$icon-advantages-info: "\e901";
$icon-arrow: "\e902";
$icon-checked: "\e903";
$icon-checked_1: "\e904";
$icon-circle-dolar: "\e905";
$icon-close: "\e906";
$icon-copy: "\e907";
$icon-coupon-info: "\e908";
$icon-cvc: "\e909";
$icon-cvc-amex: "\e90a";
$icon-delivery-truck: "\e90b";
$icon-dolar-sign: "\e90c";
$icon-email: "\e90d";
$icon-email-sent: "\e90e";
$icon-error: "\e90f";
$icon-exclamation: "\e910";
$icon-factory: "\e911";
$icon-flag-success: "\e912";
$icon-happy-cellphone: "\e913";
$icon-happy-desktop: "\e914";
$icon-happy-exclamation: "\e915";
$icon-happy-padlock: "\e916";
$icon-hide-password: "\e917";
$icon-interrogation: "\e918";
$icon-limits-info: "\e919";
$icon-loading: "\e91a";
$icon-padlock: "\e91b";
$icon-padlock-success: "\e91c";
$icon-payment-bill: "\e91d";
$icon-payment-card: "\e91e";
$icon-printer: "\e91f";
$icon-reminder: "\e920";
$icon-shopping-cart: "\e921";
$icon-show-password: "\e922";
$icon-sms-sent: "\e923";
$icon-status-happy-card: "\e924";
$icon-tax-info: "\e925";
$icon-user-info: "\e926";
$icon-user-status: "\e927";
$icon-X: "\e928";