---
title: Overview | Acesso
fabricator: true
---

<h1>Overview</h1>

<p>
	This UI toolkit is a highly-modular design system for rapid web page development. It contains 
	different materials that can be assembled into more complex page layouts.
</p>

<p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

<h2>Usage</h2>

<p>Start by adding the following files to your page:</p>

<pre class="language-markup">
	<code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;assets/toolkit/styles/toolkit.css&quot;&gt;</code>
</pre>

<pre class="language-markup">
	<code class="language-markup">&lt;script src=&quot;assets/toolkit/scripts/toolkit.js&quot;&gt;&lt;/script&gt;</code>
</pre>


<h2>Color Palette</h2>
<div class="row dynamic-color">
	<div class="col s12 m6 l4">
		<div class="color-base blue">#00A6DF blue</div>
		<div class="color-item blue lighten-3">#79ddff blue lighten-3</div>
		<div class="color-item blue lighten-2">#46d0ff blue lighten-2</div>
		<div class="color-item blue lighten-1">#13C3FF blue lighten-1</div>
		<div class="color-item blue darken-1">#0080cc blue darken-1</div>
		<div class="color-item blue darken-2">#005A79 blue darken-2</div>
		<div class="color-item blue darken-3">#003446 blue darken-3</div>
	</div>

	<div class="col s12 m6 l4">
		<div class="color-base squash">#00A6DF squash</div>
		<div class="color-item squash lighten-3">#fbe0af squash lighten-3</div>
		<div class="color-item squash lighten-2">#f9cd7e squash lighten-2</div>
		<div class="color-item squash lighten-1">#f6bb4e squash lighten-1</div>
		<div class="color-item squash darken-1">#d48d0a squash darken-1</div>
		<div class="color-item squash darken-2">#a36c08 squash darken-2</div>
		<div class="color-item squash darken-3">#734c06 squash darken-3</div>
	</div>

	<div class="col s12 m6 l4">
		<div class="color-base warm-grey">#d9d9d9 warm-grey</div>
		<div class="color-item warm-grey lighten-3">#fbfbfb warm-grey lighten-3</div>
		<div class="color-item warm-grey lighten-2">#f2f2f2 warm-grey lighten-2</div>
		<div class="color-item warm-grey lighten-1">#eaeaea warm-grey lighten-1</div>
		<div class="color-item warm-grey darken-1">#c0c0c0 warm-grey darken-1</div>
		<div class="color-item warm-grey darken-2">#a6a6a6 warm-grey darken-2</div>
		<div class="color-item warm-grey darken-3">#8d8d8d warm-grey darken-3</div>
	</div>
</div>

<div class="row dynamic-color">
	<div class="col s12 m6">
		<div class="color-base red">#d71010 red</div>		
	</div>
	<div class="col s12 m6">
		<div class="color-base green">#00A6DF green</div>		
	</div>
</div>


<h2>Typography</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.</p>

<h1>Heading Level 1</h1>
<h2>Heading Level 2</h2>
<h3>Heading Level 3</h3>
<h4>Heading Level 4</h4>
<h5>Heading Level 5</h5>
<h6>Heading Level 6</h6>
