
<div class="row">
	<div class="col s12">
		<div class="preview">
			<p class="title-code">Example:</p>
			<div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Passoword</label>
          <div class="showhide icon-show-password">
          	<p class="wink">Ver</p>
          </div>
          
	        <div class="feedback valid">
          	<div class="row">
          		<div class="col no-padding">
	          		<i class="icon-checked"></i>
          		</div>
          		<div class="col s11 no-padding">
								<span class="message">
	  	        		Valid password ;P
								</span>
          		</div>
	          </div>
          </div>

          <div class="feedback error">
          	<div class="row">
          		<div class="col no-padding">
          			<i class="icon-error"></i>
          		</div>
	          	<div class="col s11 no-padding">
								<span class="message">
		          		Wrong name format
								</span>
							</div>
          	</div>
          </div>
          <div class="feedback warning">
          	<div class="row">
          		<div class="col no-padding">
          			<i class="icon-exclamation"></i>
							</div>
							<div>
								<span class="message">
          				Name cannot contain number
								</span>
							</div>
						</div>
          </div>
          <div class="feedback tip">
          	<div class="row">
          		<div class="col s12 no-padding">
								<span class="tip-message">
		          		Recusandae voluptatibus consequuntur eius. Fugit saepe ex, porro laudantium molestiae laborum dolore vel doloribus, pariatur, quis eligendi. Excepturi itaque quo, dolorum tempore?
								</span>
							</div>
						</div>
          </div>
        </div>
      </div>				
		</div>
		<div class="code-snippet">
			<p class="title-code">Code snippet:</p>
				<pre class="language-markup">
				<code class="language-markup">&lt;div class="input-field"&gt;</code><br>
				&nbsp;<code class="language-markup">&lt;input id="password" type="password" class="validate"&gt;</code><br>
				&nbsp;<code class="language-markup">&lt;label for="password"&gt;Password&lt;/label&gt;</code><br><br>
				&nbsp;<code class="language-markup">&lt;div class="showhide icon-show-password"&gt;</code><br>
				&nbsp;&nbsp;<code class="language-markup">&lt;p class="wink"&gt;Ver&lt;/p&gt;</code><br>
				&nbsp;<code class="language-markup">&lt;/div&gt;</code><br>
				<code class="language-markup">&lt;/div&gt;</code>
			</pre>
		</div>
	</div>
</div>