$radio-color: #838383;
$radio-background-color: #fff;
$radio-border-color: #838383;
$radio-active-border-color: $primary-color;
$radio-fill-color: $primary-color;
$radio-group-item-selected-background-color: #f4f4f4;
