.radio-group {
  border-bottom: solid 1px $radio-group-border-bottom-color;
  padding-bottom: 30px;
  padding-top: 20px;

  & .radio-group-item {
    &.selected {
      background-color: $radio-group-item-selected-background-color;
    }
  }

  &.inline {
    & .radio-group-item {
      display: inline-block;
    }
  }
}
