.bank-slip {
	 .panel-content + .multi-panels {
	 	margin-top: rem(12) !important;
	 }


	.internal-header {
		margin-bottom: rem(16);	
		@extend .border-thin;

		h2 {
			color: #000;
			font-family: 'Poppins', sans-serif;
			font-size: rem(18);
			font-weight: normal;
			line-height: 1.25;
			margin-bottom: rem(16);
		}

		@media #{$medium-and-up} {
			h1,
			h2 {
				display: inline-block;
				line-height: rem(41);	
			}

			h1 {
				margin-right: rem(24);
			}

			h2 {
				font-size: rem(24);
			}
			
			// Caso excepcional onde foi preciso alterar o width do grid
			.row .col.m1 {
				width: 60px;
			}
		}
	}

	.icon-flag-success {
		font-size: rem(70);
		margin-left: rem(-5);
		@media #{$medium-and-up} {
			font-size: rem(46);
		}
	}

	.icon-payment-bill {
		color: $warm-grey;
		font-size: rem(67);

		@media #{$medium-and-up}  {
			margin-right: rem(16);
		}
	}

	.vencimento {
		@extend %clearfix;
		margin-bottom: rem(14);
		p {
			margin: 0;
			+ p {
				margin-top: 3px;
			}
		}

		.order-values {
			// Caso excepcional
			padding-bottom: rem(10) !important;
			padding-top: rem(10) !important;

			p {
				color: $warm-grey;
				font-weight: normal;
			}

		}

		@media #{$medium-and-up} {
			margin-bottom: -5px;
		}
	}

	.main-article {
		margin-bottom: rem(8);

		@media #{$medium-and-up} {
		margin-bottom: 0;
			p {
				margin-bottom: rem(28);
			}
		}

	}
	.barcode-box {
	}

	.barcode-container {
		@extend .panel-content;
		
		@media #{$medium-and-up} {
			padding: rem(14) rem(12);
			svg {
				height: auto;
				max-width: 100%;
			}
		}
	}



	.barcode-number {
		margin-bottom: rem(16);
		text-align: center;

		p {
			color: #000;
			font-size: rem(20);
			font-family: 'Poppins', sans-serif;
			font-weight: normal;
			line-height: 1.4;
			margin: 0;
		}

		@media #{$medium-and-up} {
			margin-bottom: 0;
			p {
				font-size: rem(20);
				margin-bottom: 0;
			}
		}
	}

	.stripes-container {
		margin: - rem(8);
	}
	
	.checkout {
		.buy-box-container{
				padding: 0 rem(12);
			}

		.combined-buy-box {
			position: relative;
			margin: 0 0 rem(24) 0;
			padding: 0;

			&:after {
				@extend .border-thin;
				content: "";
				width: 100%;
				position: absolute;
				height: 1px;
				left: 0;
				right: 0;
				bottom: -24px;
			}

			@media #{$medium-and-up} {
				margin: 0;

				&:after {
					display: none;
				}
			}
		}
	}


	.checkout {
		.box-header {
			@extend .border-thin;
			@media #{$medium-and-up} {
				margin-bottom: rem(18);
				padding-bottom: rem(8);
			}
		}
	}

	.box-header {
		border: none;
		margin-bottom: rem(16);
		padding: 0;

		&.main {
			margin-bottom: rem(16);
			padding-bottom: rem(8);

			@media #{$medium-and-up} {
				margin-bottom: rem(24);
				h2 {
					line-height: rem(26);
				}
			}
		}

		h2 {
			line-height: rem(23);
		}
		i {
			font-size: rem(23);
		}
		@media #{$medium-and-up} {
			margin-bottom: 0;
			padding: 0;
			.icon-shopping-cart {
				font-size: rem(26);
			}
		}
	}

	.payments-actions {
		text-align: center;

		@media #{$medium-and-up} {
			margin-top: rem(18);
		}
	}

	.action-button {
		margin-bottom: rem(16);

		&:last-child {
			margin-bottom: 0;
		}

		@media #{$medium-and-up} {
			margin-bottom: 0;
		}
	}

	.left-card-content {
		background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #d4d4d4;
    padding-bottom: rem(16);
    padding-top: rem(16);
	}

	.bt-group {
		margin-top: rem(40);
		margin-bottom: 0;
	}

	i {
		&.left {
			margin-right: 0;
		}
	}


.panel-content {

	+ .panel-content {
		margin-top: rem(16);
	}
}

	.multi-panels {

		> .row {
			margin-left: 0;
			margin-right: 0;
		}

		background: transparent;
		border: none;
		@extend .panel-content;
		padding: 0;
		
		.panel-content {
			padding:0;

			+ .panel-content {
				margin-top: rem(28);
				@media #{$medium-and-up} {
					margin-top: rem(36);
				}
			}
			@extend .ghost;
		}
	}

	.card-infos {
		margin-bottom: rem(24);

		.card-pic {
			margin-bottom: 24px;
			@media #{$medium-and-up} {
				margin-bottom: 0;
			}
		}
	}

	.personal-data {

		.info-list {
			p {
				&:first-child {
					font-weight: 500;
				}
			}
		}
	}

	@media #{$medium-and-up} {
			.box-header {
				.row .col.s1 {
					width: 31px;
				}
				i {
					font-size: rem(21);
				}
				h2 {
					margin: 0;
				}
			}
		}

	.info-list {

		&.shipping {
			margin-bottom: 0;
			margin-top: 11px;

			.open-modal {

					a {
						font-size: rem(16);
					}
			}


			p {
				font-size: rem(16);
				margin-bottom: 0;
			}
			
			@media #{$medium-and-up} {
				.open-modal {
					margin-top: 0;
				}
			}
		}
		p {

		  color: #000000;
		  font-family: 'Roboto', sans-serif;
		  font-size: rem(18);
		  font-style: normal;
		  font-stretch: normal;
		  font-weight: 300;
		  line-height: 1.2;
		}

		@media #{$medium-and-up} {
			&.shipping {
				//margin-top: 0;
			}
		}
	}



	.multi-panels {

		@media #{$medium-and-up} {
			//background: transparent;
			//border: none;

			> .row {
	    		margin-left: auto !important;
    			margin-right: auto !important;
	    	}

			
		}
	}

	.advertising {
		margin-bottom: rem(24);
		margin-top: rem(16);
		padding: 0; 

		img {
	    border: solid 1px #d4d4d4;
	    border-radius: 4px;
		}

		.col.s12 {
			padding: 0;
		}
		.adpanel {
			//@extend .panel-content;
			//padding: 0;
		}

		.item + .item {
			margin-top: rem(8);
		}

		@media #{$medium-and-up} {
			padding-top: rem(0);
			padding-right: rem(0);
			padding-bottom: rem(12);
			padding-left: rem(12);
			margin-bottom: 0;
			margin-top: 0;

			.item {
				+ .item {
					margin-top: rem(12);
				}
			}
		}
	}
}