.panel-content {
  &.accordion {
    border: none;
    background: transparent;
    margin: 16px 0 32px;
    padding: 0;
  }
}

.rc-collapse {
 width: 100%;
}
.rc-collapse-anim-active {
  -webkit-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
}

.rc-collapse {
  > .rc-collapse-item {
    background-color: #ffffff;
    border: solid 1px #d4d4d4;
    border-radius: 4px;
    padding: 8px 16px;

    + .rc-collapse-item {
      margin-top: 8px;
      @media #{$medium-and-up} {
        margin-top: 16px;
      }
    }

    > .rc-collapse-header {
      background: #fff;
      color: #666;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      line-height: 38px;
      font-weight: 400;
      font-style: normal;
      height: 38px;
      position: relative;
      text-indent: 16px;

      > div {
        color: #000;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        line-height: 38px;
        font-weight: 400;
        font-style: normal;
        float: left;
      }

      i {
        &[class^="icon-"] {
          color: #030303;
          float: left;
          font-size: 24px;
          line-height: 38px;
          margin-left: -16px;
        }

        &.icon-arrow {
          color: #d9d9d9;
          font-size:  17px;
          margin-top: -19px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: rotate(180deg);

          &::before {
            margin-left: -15px;
          }

          @media #{$medium-and-up} {
            &::before {
              right: 0;
            }
          }
        }
      }

      .arrow {
        float: right;
        position: relative;
        margin: 25px 15px 0 0;

        &:after,
        &:before {
          bottom: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        &:after {
          border-color: rgba(#d9d9d9, 0);
          border-bottom-color: #fff;
          border-width: 10px;
          margin-left: -10px;
        }

        &:before {
          border-color: rgba($blue-sky, 0);
          border-bottom-color: #d9d9d9;
          border-width: 12px;
          margin-left: -12px;
        }
      }
    }

    &.rc-collapse-item-active {
      .rc-collapse-header {
        i[class^="icon-"],
        > div {
          color: $blue-sky;
        }

        .icon-arrow {
          transform: rotate(0deg);
        }
      }
    }
  }

}

.rc-collapse {
  > .rc-collapse-item {
    
  }
}

.rc-collapse {
  > .rc-collapse-item-active {
    > .rc-collapse-header {

      border-bottom: solid 1px #d9d9d9;

       @media #{$medium-and-up} {
        border: none;
       }
      .arrow {
        color: #d9d9d9;
        margin: 15px 15px 0 0;
        &:after,
        &:before {
          bottom: 100%;
          top:0;
        }
        &:after {
          border-color: rgba(136, 183, 213, 0);
          border-top-color: #fff;
          border-width: 10px;
          margin-left: -10px;
        }
        &:before {
          border-color: rgba(194, 225, 245, 0);
          border-top-color: $blue-sky;
          border-width: 12px;
          margin-left: -12px;
        }
      }
    }
  }
}


.rc-collapse-content {
  overflow: hidden;
  color: #666;
  background-color: #fff;
}
.rc-collapse-content {
  > .rc-collapse-content-box {
    height: auto;
    margin-top: 16px;
    margin-bottom: 8px;

    li, p {
      font: normal 300 18px/1.3 'Roboto', sans-serif;
      margin: 0;
    }

    .icon-interrogation {
      font-size: 20px;
    }

    p {

      &.info-fees {
        margin: rem(16) 0 0;
      }

      &.open-modal {
        margin-top: 16px;

        i {
          color: #838383; 
        }
      }
      a {
        color: #838383;
        font: italic 600 18px/1.1 'Roboto';
        text-decoration: underline;
        padding-left: 4px;
      }
    }

    li {
      display: block;
      line-height: 1.1;
      padding-left: 16px;
      position: relative;
      width: 100%;

      + li {
        margin-top: 8px;
      }
      
      &::before {
        background-color: $blue-sky;
        border-radius: 100%;
        content: "";
        height: 6px;
        left: 0;
        margin-top: -3px;
        position: absolute;
        top: 50%;
        width: 6px;
      }

    }
  }

}
.rc-collapse-content-inactive {
  display: none;
}
.rc-collapse-item:last-child {
  > .rc-collapse-content {
    border-radius: 0 0 3px 3px;
  }
}
