.card-load-options {
	input[type="radio"]:checked + div > label{
		color: $blue-sky !important;
		font: normal 500 18px/1.2 'Roboto', sans-serif;
	}
	label {
		color: #838383 !important;
		font: normal 400 18px/1.2 'Roboto', sans-serif;
	}
	svg + svg {
		color: $blue-sky  !important;
		fill: $blue-sky  !important;
	}
}