.cssload-container {
	height: 50px;
	left: 50%;
	margin-left: -25px;
	position: absolute;
	text-align: center;
	top: 170px;
	width: 50px;
	z-index: 9999;

}

.cssload-speeding-wheel {
	border: 3px solid $blue-sky;
	border-left-color: transparent;
	border-radius: 50%;
	border-right-color: transparent;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	animation: cssload-spin 575ms infinite linear;
		-o-animation: cssload-spin 575ms infinite linear;
		-ms-animation: cssload-spin 575ms infinite linear;
		-webkit-animation: cssload-spin 575ms infinite linear;
		-moz-animation: cssload-spin 575ms infinite linear;
}

.icon-css-loading {
	float: left;
	height: 15px;
	margin-right: 4px;
	width: 15px;
	div {
		border: 2px solid $blue-sky;
		border-left-color: transparent;
		border-radius: 50%;
		border-right-color: transparent;
		height: 100%;
		margin: 0 auto;
		width: 100%;
		animation: cssload-spin 575ms infinite linear;
			-o-animation: cssload-spin 575ms infinite linear;
			-ms-animation: cssload-spin 575ms infinite linear;
			-webkit-animation: cssload-spin 575ms infinite linear;
			-moz-animation: cssload-spin 575ms infinite linear;
	}
}

.full-container {
	background: rgba(#fff, 0.7);
	z-index: 999999;
	@include position(fixed, 0 0 0 0);

	.cssload-container {
		top: 50%;
		margin-top: -25px;
	}

	.cssload-speeding-wheel {
		animation: cssload-spin 500ms infinite linear;
		-o-animation: cssload-spin 500ms infinite linear;
		-ms-animation: cssload-spin 500ms infinite linear;
		-webkit-animation: cssload-spin 500ms infinite linear;
		-moz-animation: cssload-spin 500ms infinite linear;
	}

}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
