// Estilo do Cabeçalho principal localizado no topo

.main-header {
	background-color: #ececec;
  box-shadow: 0 1px 0 0 rgba(#000, 0.16);
  display: inline-block;
  height: 48px;
  line-height: 48px;
  padding: 7px 0;
	width: 100%;

	@media #{$medium-and-up} {
		box-shadow: 0 2px 0 0 $squash;
		padding: 2px 0;
	}
}

.brand {
	@extend %clearfix;
	float: left;
	height: 20px;
	position: relative;
	text-indent: -1000px;
	width:  60px;
	@include svg-bg("logo");
	
	a {
		@include position(absolute, 0 0 0 0);
	}
	h1 {
		display: inline-block;
	}

	@media #{$medium-and-up} {
    height: 28px;
    width: 85px;
  }
}

.alert-security {
	color: #838383;
	float: right;
	font: normal 400 14px/1.1 'Poppins', sans-serif;
	position: relative;

	&:after {
		color: #838383;
		content: "\e91b";
		font: normal normal 16px/1 'acesso';
		padding-left: 5px;
	}

	// Alert Security no mobile
	@media #{$medium-and-up} {
		line-height: 28px;
	}
}

