// Footer do site
// 
.main-footer {
  background: #ECECEC;
  box-shadow: 0 -2px 0 0 #f4a81d;
  padding: 10px 0 0;
  position: relative;
  text-align: center;
  z-index: 99;
  margin-top: -278px;

  img {
    height: 50px;
    width: auto;
  }

  li {
    + li {
      margin-top: 16px;
    }
  }
  .open-modal {
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
  }
  a, p {
    color:  #000000;
    font: normal 300 20px/1.4 'Roboto', sans-serif
  }

  p {
    font-size: 12px;
  }

  .badges {
  }

  .copyright {
    background: #fff;
    padding: 10px 0;
    text-transform: uppercase;
    width: 100%;
  }

  @media #{$medium-and-up} { 

  //height: 165px;
   margin-top: -165px;
  
    li {
      height: 50px;
      line-height: 50px;
      + li {
        margin-top: 0;
      }
    }
    
  }
}

@import "ssl-badge";