
.prazo-de-entrega {
  border: 0px;
  position: relative;

  .page-title {
    margin: 0 0 10px 0;
    padding-left: 31px;
    position: relative;
    z-index: 5;

    .main-title {
      font-size: 18px;
      margin: 0;
    }
    // Refatorar e pôr como um helper
    &::before {
      background: transparent;
      color: #838383;
      font-size: 28px;
      left: -4px;
      line-height: 28px;
      position: absolute;
      text-align: center;
    }
  }

  .page-video {
    margin-bottom: 25px;
    margin-top: -25px;
    position: relative;
    padding-bottom: 49.25%;
    padding-top: 25px;

    iframe,
    object,
    embed {
      border: none;
      height: 100%!important;
      position: absolute;
      width: 100%!important;
    }
  }

  .passos-entrega {
  padding-top: 40px;
    
    .item {
      + .item {
        margin-top: 24px;
      }
    }
    .delivery-steps {
      display: block;
      padding-left: rem(12);
      @extend %clearfix;
      i {
        float: left;

        &::before {
          color: $blue-sky;
          font-size: 38px;
          float: left;
        }
      }
      p {
        display: inline;
        font-stretch: normal;
        font: normal 300 16px/1.2 'Roboto', 'Poppins', sans-serif;
        color: #000000;

       @media #{$medium-and-up} {
          display: inline-block;
          line-height: 1.3;
          margin-top: 0;
        }
      }
    }
  }

  video {
    background: #000;
    height: auto   !important;
    width: 100%    !important;
  }

  @media #{$medium-and-up} {
    .passos-entrega {
      padding-top: 30px;
      .delivery-steps {

        i {
          height: auto;
          min-height: auto;
        }
      }


      .factory-step,
      .card-step {
        line-height: 38px;
        vertical-align: middle;
      }
    }
  }
}
