.combined-buy-box {
	margin-bottom: 40px;

	@media #{$medium-and-up} {
		margin-bottom: 65px;
	}

	// Removendo a última margem do grid. Este compoente deve ser refatorado
	> .row {
		> .col {
			&:last-child {
				.col {
					border: none;
				}
			}	
		}
	}

	.price-item {
		.col {
			border-bottom: solid 1px #c2c2c2;
		}		
	}
	
	  
	.row {
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}

	background: #ececec;
	p, strike {
		color: #838383;
		font-family:'Roboto', sans-serif;
		@extend .paragraph;	
		font-size: rem(16);
		font-weight: 400;

		@media #{$medium-and-up} {
			font-size: rem(16);
		}
	}
	
	.price-item {
		//padding: 12px 10px;
	}
}

.price-item {
	.flow-text {
		height: 2.5rem;//40px;
		line-height: 2.5rem;
		margin: 0;	
	}
	.subtotal {
		font-size: 1.125rem;
		@media #{$medium-and-up} {
			//font-size: $paragraph-fontsize;
		}
		@extend .highlight;
	}
	.save-price {
		float: left;
		font-style: italic;
		margin: 0 4px 0 0;
	}
	.free-price {
		color: $blue-sky;
		font-size: rem(20);
		font-weight: 500;
		line-height: 2.5rem;

		@media #{$medium-and-up} {
			font-size: rem(18);
		}
	}
	.total {
		float: right;
	}
}

// Bloco que é mostrado o preço do cartão com desconto, podendo ser "GRATIS"
.real-price {
	display: inline-block;
	float: right;
}
