// Password Recovery 

.recovery {

	 @media #{$medium-and-up} {
	 	.form-group {
	 		margin-bottom: rem(24);
	 	}
	 }
}

.recovery-box {
	@extend .welcome-box;

	&.token {
		margin-top: 0;
	}
}

.recovery-msg {
	@extend .welcome-msg;
}

.recovery-bt-group {
	margin-top: rem(40);

	.action-button {
		+ .action-button {
			margin-top: rem(24);
		}
	}
}

.signup {
	&.enter-cpf {
		.input-field {
			&.cpf-group {
				margin-bottom: rem(40);
			}
		}
	}

	.exception {
		margin-top: rem(24);
	}
}