.signup {
	margin-bottom: 40px;
	position: relative;

	
	.internal-header {
		border-bottom: solid 1px #d9d9d9;
		padding-bottom: 9px;
		margin-bottom: 16px;

		@media #{$medium-and-up}  {
			margin-bottom: 75px;
		}

	}
	.internal-title {
		color: #838383;
	}

	// Recuperação de senha
	.icon-padlock-success {
			display: none;
			color: #d9d9d9;
			font-size: 106px;
			margin: 18px 0 21px;
			text-align: center;

			&.icon-checked_1 {
				display: block;
			}

			@media #{$medium-and-up} {
				@include position(absolute, 50px 50px null null);
				font-size: 170px;
				margin: 0;
			}
		}
		.new-password-msg {
			padding-bottom: rem(30);
		}


	.input-field {
		margin-top: rem(70);
		position: relative;

		&.create-bt {
			margin-top: rem(40);
		}

		label {
			left: 0;
		}
	}


	// Form de login com e-mail e senha
	.login {
		width: 100%;

		.input-field {
			&.password {
				//margin-bottom: 45px;
			}
		}

		.password {
			> .input-field {
				margin-bottom: 0;
			}
		}
	}

	.eye-icon {
		color: #838383;
		cursor: pointer;
		display: inline-block;
		height: 35px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 55px;

		i {
			color: #838383;
			font-size: 32px;
		}

		.wink {
			font-size: 12px;
			width: 100%;
		}

	}

	.cpf-group {
		margin-top: rem(34);
	}

		@media #{$medium-and-up} {
			&.panel-content {
				padding: 24px;
			}

		.input-field {
			margin-top: rem(80);

			&:last-child {
				margin-bottom: 16px;
			}

			&.cpf-group {
				margin-bottom: rem(60);
				margin-top: 0;
			}
		}
	}

	// Recuperação de Senha
	&.recovery {

		.internal-header {
			border-bottom: none;
			padding: 0;
			.congrats-title {
				color: $blue-sky;
			}
			.congrats-subtitle {
				color: #000;
			}

			@media #{$medium-and-up} {
				margin-bottom: rem(30);
			}
		}

		.welcome-box {
			display: none;
		}

		@media #{$medium-and-up} {
			.form-group {
				margin: rem(40) 0 0 0;
			}
		}
	}



}
	

	 // Mensagem de boas vindas
	.welcome-box {
		margin-top: rem(60);
		margin-bottom: 0;
		br {
			display: inline-block;
		}

		i {
			color: $warm-grey;
			float: left;
			font-size: 58px;
			margin-left: -12px;

			&:before {
				content: $icon-happy-cellphone;
			}
		}

		font: normal 300 rem(18) 'Roboto', sans-serif;
	}

	.welcome-msg {
		color: #000;
	}

	.fogort-password {
		margin: 30px 0 40px;

		a {
			font-size: rem(18);
			font-weight: 300;

			@extend .link-underline;
		}

		i {
			color: $warm-grey;
			font-size: 22px;
			margin-right: rem(8);
		}
	}

	@media #{$medium-and-up} {
		.welcome-box {
			margin-top: 0;

			i {
				margin-left: initial;
				&:before {
					content: $icon-happy-desktop;
				}
			}
		}

		.welcome-msg {
		}
}

  // -------

@media #{$medium-and-up}  {

	.form-group {
		margin: 0 auto;
		width: 328px;
	}
}