// Progresso na compra do cartão.  
//
.track-steps {
	display: flex;
	height: 32px;
	line-height: 32px;
	margin-bottom: 10px;
	position: relative;

	justify-content: center;

	@media #{$medium-and-up} {
		height: 55px;
		line-height: 55px;
		margin-bottom: 25px;
	}
	
	.step-text {
	  color: $blue-sky;
	  font: normal 500 15px/1'Roboto', sans-serif;
	  font-stretch: normal;
	  margin-left: 38px;

	  @media #{$medium-and-up} {
	  	font-size: rem(20);
	  	margin-left: 71px;
	  }
	}
	
	ul {
		display: block;
		height: 32px;
		line-height: 32px;
		margin: 0;

		@media #{$medium-and-up} {
			height: 55px;
			line-height: 55px;
			padding: 0;
		}



		li {
			background-color: #f9f9f9;
  		border: solid 2px #d8d8d8;
  		border-radius: 100%;
			display: inline-block;
  		float: left;
			height: 16px;
			position: relative;
			width: 16px;

				&:first-child {
					&.active {
						margin: 0;
					}
				}
				
				

			
				&.icon-status-happy-card {
					margin: 0 !important;

					+ li {
						//margin-left: -62px;
					}
					

				}

			&.active {
				+ li {
					margin-left: 16px;
					@media #{$medium-and-up} {
						margin-left: 30px;
					}
				}
			}
		
			// margem para o primeito bullel quando ele estive ativo	
			&.done {
				border-color: $blue-sky;
				background-color: $blue-sky;
				@media #{$medium-and-up} {
					//margin: 22px 55px;
					color: red;
					
				}
				&.active {
					background-color: transparent;
				}
				&:first-child {
					margin: 8px 0;
				 &.icon-status-happy-card {
				 	margin: 0;
				 }
					@media #{$medium-and-up} {
						margin: 22px 0 0 0;
					}
				}
				&::after {
					background: $blue-sky;
				}
			}
	
			// Estilo do bullet ativo
			&.active {
				border:none;
				height: 32px;
				margin: 0 0 0 16px;
				width: auto;
	
				.step-text {
					display: inline-block;
					line-height: 32px;
				}
				
				// Adicionando o ícone no bullet ativo
				&::before {
					background: transparent;
					border-radius: 100%;
					border: 2px solid $blue-sky;
					color: $blue-sky;
					font-size: 22px;
					height: 32px;
					line-height: 28px;
					position: absolute;
					text-align: center;
					width: 32px;

					@media #{$medium-and-up} { 
						border: 3px solid $blue-sky;
					}

				}

				// Icones - Configuração particular de cada ícones
				&.icon-dolar-sign {
					&::before {
						font-size: 16px;
					}
				}

				&.icon-flag-success {

					&::before {
						font-size: 18px;
					}
				}
				
				// Removendo o "elo" entre bullet ativo o seguinte
				+ li {
					&::after {
						display: none;
					}
				}

				// Para telas de largura média e maiores //601px
				@media #{$medium-and-up} {
					height: 55px;

					&[class^="icon-"], 
					&[class*=" icon-"] {
						margin: 0 -15px 0 62px;;
					}

					&.icon-dolar-sign {
						margin-left: 	63px;

						&::before {
							font-size: 26px;
						}
					}

					&.icon-flag-success {

						&::before {
							font-size: 30px;
						}
					}

					&.icon-user-status {
						&::before {
							font-size: 30px;
						}
					}
					margin: 0 -40px 0 0;

					
					&::before {
						font-size: 35px;
						height: 55px;
						line-height: 50px;
						width: 55px;

						
					}
					.step-text {
						line-height: 55px;
					}
				}

			}

			

			+ li {
				margin: 8px 0 8px 14px;

				&::after {
					background-color: #d8d8d8;
					content: "";
					height: 2px;
					left: -18px;
					margin-top: -1px;
					position: absolute;
					top: 50%;
					width: 18px;
				}

				&.active {
					&::after {
						background: $blue-sky;
					}
				}

				@media #{$medium-and-up} {
					margin: 21px 0 21px 61px;

					&::after {
						height: 3px;
						left: -64px;
						width: 64px;
					}
				}
			}
		}
	}
	
	ul li.active.icon-delivery-truck::before {
		font-size: 20px;
	}
	
	

	@media #{$medium-and-up} {
		ul li.active.icon-delivery-truck::before {
		font-size: 32px;
	}
		align-items: center;
		display: flex;
		justify-content: center;
		max-width: 100%;
		&.done {
			&:first-child {
				margin: 22px 0;
			}
		}
	}
}