.page-title {
  font-family: Poppins;
  @include font-size(22px);
  font-weight: 500;
  text-align: center;
  @include respond-to(sm) {
    @include font-size(28px);
    text-align: left;
  }
}

.page-subtitle {
  font-family: Roboto;
  @include font-size(16px);
  font-weight: 300;
  text-align: center;
  @include respond-to(sm) {
    @include font-size(20px);
    text-align: left;
  }
}

.hr-section {
  align-items: center;
  color: inherit;
  display: flex;
  flex-basis: 100%;
  margin: 8px 0;
  &::before,
  &::after {
    background-color: #fff;
    content: '';
    flex-grow: 1;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin: 0 8px;
  }
}
