ul {
  li {
    @include font-size(18px);

    font-weight: 300;
    list-style: none;
    margin-left: 10px;

    &::before {
      @include font-size(36px);
      color: $bullet-color;
      content: '\2022';
      left: -10px;
      max-height: 0;
      max-width: 0;
      position: relative;
      top: 5px;
    }
  }
}
