<div class="col s12">
  <p>
    Select allows user input through specified options. Make sure you wrap it in a .input-field for proper alignment with other text fields. Remember that this is a jQuery plugin so make sure you initialize this in your document ready. 
  </p>  
  <div class="preview">
    <p class="title-code">Example:</p>
    <div class="row">
      <div class="input-field col s12">
        <select>
          <option value="" data-graph="icon-interrogation" disabled selected>Choose your option</option>
          <option value="1" data-graph="icon-delivery-truck">Option 1</option>
          <option value="2" data-graph="icon-acessocard">Option 2</option>
          <option value="3" data-graph="icon-acessocard">Option 3</option>
        </select>
      </div>
    </div>
  </div>
  <div class="code-snippet">
    <p class="title-code">Code snippet:</p>
      <pre class="language-markup">
      <code class="language-markup">&lt;div class="input-field"&gt;</code><br>
      &nbsp;<code class="language-markup">&lt;select&gt;</code><br>
      &nbsp;&nbsp;<code class="language-markup">&lt;option value="" data-graph="icon-interrogation" disabled selected&gt;Choose your option&lt;/option&gt;</code><br>
      &nbsp;&nbsp;<code class="language-markup">&lt;option value="" data-graph="icon-delivery-truck"&gt;option 1&lt;/option&gt;</code><br>
      &nbsp;&nbsp;<code class="language-markup">&lt;option value="" data-graph="icon-acessocard"&gt;option 2&lt;/option&gt;</code><br>
      &nbsp;&nbsp;<code class="language-markup">&lt;option value="" data-graph="icon-acessocard"&gt;option 3&lt;/option&gt;</code><br>
      &nbsp;<code class="language-markup">&lt;/select&gt;</code><br>
      <code class="language-markup">&lt;/div&gt;</code>
    </pre>
  </div>
</div>