
<div class="col s12">
  <p>
    Select allows user input through specified options. Make sure you wrap it in a .input-field for proper alignment with other text fields. Remember that this is a jQuery plugin so make sure you initialize this in your document ready. 
  </p>  
  <div class="preview">
    <p class="title-code">Example:</p>
    <div class="row">
      <div class="input-field col s12 m6">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="">example 1</option>
          <option value="">example 2</option>
          <option value="">example 3</option>
        </select>
      </div>
    </div>
  </div>
  <div class="code-snippet">
    <p class="title-code">Code snippet:</p>
      <pre class="language-markup">
      <code class="language-markup">&lt;div class="input-field"&gt;</code><br>
      &nbsp;<code class="language-markup">&lt;select&gt;</code><br>
      &nbsp;&nbsp;<code class="language-markup">&lt;option value=""&gt;example 1&lt;/option&gt;</code><br>
      &nbsp;&nbsp;<code class="language-markup">&lt;option value=""&gt;example 2&lt;/option&gt;</code><br>
      &nbsp;&nbsp;<code class="language-markup">&lt;option value=""&gt;example 3&lt;/option&gt;</code><br>
      &nbsp;<code class="language-markup">&lt;/select&gt;</code><br>
      <code class="language-markup">&lt;/div&gt;</code>
    </pre>
  </div>
</div>
