// Estilos padrão do APP
// São aplicados em elementos que aparecem em todo site
//

 //removendo o preenchimento no tap 
input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: transparent;
}

html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}

// Removento o bullet padrão de listas não ordenadas
// Basta usar a class .browser-default para usar o padrão do browser
//
ul {
  &.browser-default,
  &.browser-default li {
    list-style-type: initial;
  }

  padding: 0;
  list-style-type: none;

  li {
    list-style-type: none;
  }
}

html,
#app, 
.index {
  height:100vh;
}

html,
body,
.index{
  position: relative;
}

body {
  background: #f9f9f9;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;


  &::before {
    content: "";
    height: 100%;
    float: left;
    //margin-top: -32767px;
    width: 0;
  }
  .wrapper {
    min-height: 100%;
  }
}
img {
  max-width: 100%;
}
figure {
  line-height: 0;
  margin: 0;
}
body > .wrapper {
  height: auto; 
  min-height: 100%;
}

.content {
  @media #{$medium-and-up} {
    margin-bottom: 24px;
  }
}

.main {
  height: 100%;
  //overflow: hidden;
  //padding-bottom: 60px;
    padding-bottom: 278px;
  width:100%;
  @media #{$medium-and-up} {
    padding-bottom: 165px;
  }
}
