@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700|Roboto:300,400,500,700");
.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto; }

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem; }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem; }

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%; }

.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%; }

.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%; }

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%; }

.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%; }

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%; }

.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%; }

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%; }

.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%; }

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-0 {
  margin-left: 0; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

@media only screen and (min-width: 48em) {
  .container {
    width: 49rem; }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm-offset-0 {
    margin-left: 0; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 64em) {
  .container {
    width: 65rem; }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-offset-0 {
    margin-left: 0; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 75em) {
  .container {
    width: 76rem; }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-lg-offset-0 {
    margin-left: 0; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

* {
  margin: 0;
  padding: 0; }

html,
body {
  background-color: #f9f9f9;
  box-sizing: border-box;
  font-family: Roboto, Arial;
  font-size: 16px;
  font-weight: 300; }

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.page {
  position: relative;
  z-index: 0; }
  @media (min-width: 48em) {
    .page {
      height: 100vh; } }
  .page .content {
    margin: 20px 0; }

.container-fluid {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem; }
  @media (min-width: 48em) {
    .container-fluid {
      padding-left: 2rem;
      padding-right: 2rem; } }

.visible-xs {
  display: block !important; }
  @media (min-width: 48em) {
    .visible-xs {
      display: none !important; } }

.hidden-xs {
  display: none !important; }
  @media (min-width: 48em) {
    .hidden-xs {
      display: block !important; } }

[class^='icon-'].visible-xs,
[class*=' icon-'].visible-xs {
  display: inline-block !important; }
  @media (min-width: 48em) {
    [class^='icon-'].visible-xs,
    [class*=' icon-'].visible-xs {
      display: none !important; } }

[class^='icon-'].hidden-xs,
[class*=' icon-'].hidden-xs {
  display: none !important; }
  @media (min-width: 48em) {
    [class^='icon-'].hidden-xs,
    [class*=' icon-'].hidden-xs {
      display: inline-block !important; } }

.header {
  font-size: 14px;
  font-size: 0.875rem;
  background-color: #fff;
  border-top: solid 4px #00a6df;
  box-shadow: 0 1px 0 0 #eff2f3;
  color: #838383;
  font-family: Poppins, Arial;
  margin-bottom: 30px;
  max-height: 60px;
  padding: 10px 0; }
  .header .security {
    text-align: right; }

.footer {
  background-color: #fff;
  color: #fff;
  overflow: hidden;
  text-align: center;
  width: 100%; }
  .footer .footer-top {
    padding-top: 20px; }
    .footer .footer-top img {
      vertical-align: bottom; }
  .footer .footer-middle {
    background-color: #00a6df;
    padding: 20px 0; }
    .footer .footer-middle ul {
      line-height: 2.5;
      list-style: none; }
      @media (min-width: 48em) {
        .footer .footer-middle ul {
          display: flex;
          justify-content: space-between; }
          .footer .footer-middle ul li {
            display: inline-block; } }
    .footer .footer-middle a {
      color: #fff; }
      .footer .footer-middle a::before {
        background-color: #fff; }
    .footer .footer-middle .warning * {
      padding: 7.5px 0; }
    .footer .footer-middle .warning .warning-text {
      font-size: 16px;
      font-size: 1rem;
      font-weight: 300;
      padding: 0; }
    .footer .footer-middle .warning p {
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 500; }
  .footer .footer-bottom {
    font-size: 14px;
    font-size: 0.875rem;
    background-color: #005d7a;
    padding: 20px 0; }
    .footer .footer-bottom p {
      line-height: 1.5;
      padding: 3px 0; }
  .footer .hr-section {
    align-items: center;
    color: inherit;
    display: flex;
    flex-basis: 100%; }
    .footer .hr-section::before, .footer .hr-section::after {
      background-color: currentColor;
      content: '';
      flex-grow: 1;
      font-size: 0;
      height: 1px;
      line-height: 0;
      margin: 0 5px; }

.page-title {
  font-size: 28px;
  font-size: 1.75rem;
  color: #00a6df;
  font-family: Poppins, Arial;
  font-weight: 600;
  text-align: center; }
  @media (min-width: 48em) {
    .page-title {
      font-size: 40px;
      font-size: 2.5rem; } }

.page-subtitle {
  font-size: 22px;
  font-size: 1.375rem;
  color: #868f93;
  font-family: Poppins, Arial;
  font-weight: 300;
  text-align: center; }
  @media (min-width: 48em) {
    .page-subtitle {
      font-size: 28px;
      font-size: 1.75rem; } }

.flow-title {
  font-size: 22px;
  font-size: 1.375rem;
  font-family: Poppins, Arial;
  font-weight: 500;
  text-align: center; }
  @media (min-width: 48em) {
    .flow-title {
      font-size: 28px;
      font-size: 1.75rem;
      text-align: left; } }

.flow-subtitle {
  font-size: 16px;
  font-size: 1rem;
  font-family: Roboto, Arial;
  font-weight: 300;
  text-align: center; }
  @media (min-width: 48em) {
    .flow-subtitle {
      font-size: 20px;
      font-size: 1.25rem;
      text-align: left; } }

.section-title {
  font-size: 20px;
  font-size: 1.25rem;
  font-family: Poppins, Arial;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: left; }

.section-subtitle {
  font-size: 18px;
  font-size: 1.125rem;
  font-family: Poppins, Arial;
  font-weight: 300;
  text-align: left; }

.congratulations {
  font-size: 24px;
  font-size: 1.5rem;
  color: #00a6df;
  font-family: Poppins, Arial;
  font-weight: 500;
  line-height: 1;
  margin: 20px 0; }
  @media (min-width: 48em) {
    .congratulations {
      font-size: 34px;
      font-size: 2.125rem; } }
  .congratulations small {
    font-size: 18px;
    font-size: 1.125rem;
    display: block;
    font-weight: 300; }
    @media (min-width: 48em) {
      .congratulations small {
        font-size: 26px;
        font-size: 1.625rem; } }

strong {
  font-family: Roboto, Arial;
  font-weight: 700; }

blockquote {
  font-size: 16px;
  font-size: 1rem;
  background-color: #f3f3f3;
  border-radius: 3px;
  color: #838383;
  margin: 5px 0;
  padding: 10px;
  text-align: left; }

ul li {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
  list-style: none;
  margin-left: 10px; }
  ul li::before {
    font-size: 36px;
    font-size: 2.25rem;
    color: #33a4dc;
    content: '\2022';
    left: -10px;
    max-height: 0;
    max-width: 0;
    position: relative;
    top: 5px; }

.btn {
  font-size: 18px;
  font-size: 1.125rem;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: Poppins, Arial;
  height: 40px;
  outline: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }
  @media (min-width: 48em) {
    .btn {
      font-size: 20px;
      font-size: 1.25rem; } }
  .btn.btn-small {
    font-size: 14px;
    font-size: 0.875rem;
    font-family: Roboto, Arial;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    padding: 0 20px;
    width: auto; }
    @media (min-width: 48em) {
      .btn.btn-small {
        font-size: 16px;
        font-size: 1rem; } }
  .btn[disabled], .btn.disabled {
    background-color: #d9d9d9;
    box-shadow: 0 3px 0 0 #c0c0c0;
    cursor: not-allowed; }
  .btn::after {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    content: '';
    height: 5px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
    visibility: hidden;
    width: 5px; }
  .btn:focus::after {
    visibility: visible; }
  .btn:focus:not(:active)::after {
    animation: ripple 1s ease-out; }

@keyframes ripple {
  from {
    opacity: .4;
    transform: scale(1); }
  to {
    opacity: 0;
    transform: scale(100); } }

.btn.btn-primary:not([disabled]) {
  background-color: #00a6df;
  box-shadow: 0 3px 0 0 #25779f;
  transition: background-color .5s; }
  .btn.btn-primary:not([disabled]).btn-ghost {
    background-color: #fff;
    border: solid 1px #00a6df;
    box-shadow: 0 3px 0 0 #00a6df;
    color: #00a6df;
    transition: background-color .7s, color .7s; }
  .btn.btn-primary:not([disabled]):hover, .btn.btn-primary:not([disabled]).hover {
    background-color: #00b9f9;
    box-shadow: 0 3px 0 0 #2f96c8;
    color: #fff; }

.btn.btn-link {
  font-size: 16px;
  font-size: 1rem;
  background-color: transparent;
  box-shadow: none;
  height: auto;
  width: auto; }
  @media (min-width: 48em) {
    .btn.btn-link {
      font-size: 18px;
      font-size: 1.125rem; } }
  .btn.btn-link:not([disabled]) {
    color: #8d8d8d; }
    .btn.btn-link:not([disabled])::before {
      background-color: currentColor;
      bottom: 0;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      transform: scaleX(0);
      transition: transform .2s ease-in-out 0s;
      visibility: hidden;
      width: 100%; }
    .btn.btn-link:not([disabled]):hover::before, .btn.btn-link:not([disabled]).hover::before {
      transform: scaleX(1);
      visibility: visible; }
  .btn.btn-link[disabled] {
    color: #d9d9d9; }

a {
  color: #00a6df;
  cursor: pointer;
  position: relative;
  text-decoration: none; }
  a[disabled] {
    color: #d9d9d9;
    cursor: not-allowed; }
  a:not([disabled])::before {
    background-color: currentColor;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: transform .2s ease-in-out 0s;
    visibility: hidden;
    width: 100%; }
  a:not([disabled]):hover::before, a:not([disabled]).hover::before {
    transform: scaleX(1);
    visibility: visible; }
  a [class^='icon-'],
  a [class*=' icon-'] {
    margin-right: 5px; }

.panel {
  background-color: #fff;
  border: solid 1px #d4d4d4;
  border-radius: 4px;
  color: #000;
  margin: 5px 0;
  padding: 10px 8px; }
  @media (min-width: 48em) {
    .panel {
      padding: 24px; } }
  .panel .panel-header {
    margin-bottom: 10px;
    text-align: left; }
    .panel .panel-header.center {
      text-align: center; }
    .panel .panel-header .flow-title {
      line-height: .7;
      margin: 0; }
    .panel .panel-header .title {
      font-size: 18px;
      font-size: 1.125rem;
      color: #000;
      font-family: Poppins, Arial;
      font-weight: 500;
      line-height: 1.5;
      margin: 0; }
      @media (min-width: 48em) {
        .panel .panel-header .title {
          font-size: 20px;
          font-size: 1.25rem; } }
      .panel .panel-header .title:last-child {
        font-size: 20px;
        font-size: 1.25rem;
        border-bottom: solid 1px #d9d9d9;
        margin-bottom: 15px;
        padding-bottom: 10px; }
        @media (min-width: 48em) {
          .panel .panel-header .title:last-child {
            font-size: 24px;
            font-size: 1.5rem;
            margin-bottom: 60px; } }
    .panel .panel-header .subtitle,
    .panel .panel-header .flow-subtitle {
      color: #00a6df;
      font-weight: 500; }
    .panel .panel-header .subtitle {
      font-size: 12px;
      font-size: 0.75rem; }
      @media (min-width: 48em) {
        .panel .panel-header .subtitle {
          font-size: 14px;
          font-size: 0.875rem; } }
    .panel .panel-header .flow-title,
    .panel .panel-header .flow-subtitle {
      text-align: inherit; }

@font-face {
  font-family: 'acesso';
  font-style: normal;
  font-weight: normal;
  src: url("https://i.icomoon.io/public/f995540dd0/IconografiadaAcesso/acesso.eot") format("embedded-opentype"), url("https://i.icomoon.io/public/f995540dd0/IconografiadaAcesso/acesso.woff2") format("woff2"), url("https://i.icomoon.io/public/f995540dd0/IconografiadaAcesso/acesso.woff") format("woff"), url("https://i.icomoon.io/public/f995540dd0/IconografiadaAcesso/acesso.svg") format("svg"), url("https://i.icomoon.io/public/f995540dd0/IconografiadaAcesso/acesso.ttf") format("truetype"); }

[class^='icon-'],
[class*=' icon-'] {
  font-size: 16px;
  font-size: 1rem;
  color: currentColor;
  display: inline-block;
  font-family: 'acesso';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none; }
  [class^='icon-'].icon-2x,
  [class*=' icon-'].icon-2x {
    font-size: 20px;
    font-size: 1.25rem; }
  [class^='icon-'].icon-3x,
  [class*=' icon-'].icon-3x {
    font-size: 24px;
    font-size: 1.5rem; }
  [class^='icon-'].icon-4x,
  [class*=' icon-'].icon-4x {
    font-size: 28px;
    font-size: 1.75rem; }
  [class^='icon-'].icon-5x,
  [class*=' icon-'].icon-5x {
    font-size: 32px;
    font-size: 2rem; }
  [class^='icon-'].icon-6x,
  [class*=' icon-'].icon-6x {
    font-size: 36px;
    font-size: 2.25rem; }
  [class^='icon-'].spin,
  [class*=' icon-'].spin {
    animation: spin 1s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }

.icon-acesso:before {
  content: ""; }

.icon-change-password:before {
  content: ""; }

.icon-chat:before {
  content: ""; }

.icon-checked-1:before {
  content: ""; }

.icon-circle-dolar:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.icon-close-2:before {
  content: ""; }

.icon-coupon-2:before {
  content: ""; }

.icon-coupon-info:before {
  content: ""; }

.icon-delivery:before {
  content: ""; }

.icon-delivery-truck:before {
  content: ""; }

.icon-dolar-sign:before {
  content: ""; }

.icon-email-sent:before {
  content: ""; }

.icon-hide-password:before {
  content: ""; }

.icon-limits-info:before {
  content: ""; }

.icon-loading:before {
  content: ""; }

.icon-location-car:before {
  content: ""; }

.icon-money:before {
  content: ""; }

.icon-number-card:before {
  content: ""; }

.icon-payment-bill:before {
  content: ""; }

.icon-rates:before {
  content: ""; }

.icon-tax-info:before {
  content: ""; }

.icon-sun:before {
  content: ""; }

.icon-world:before {
  content: ""; }

.icon-wifi:before {
  content: ""; }

.icon-user-status:before {
  content: ""; }

.icon-user-info:before {
  content: ""; }

.icon-unblock:before {
  content: ""; }

.icon-tv:before {
  content: ""; }

.icon-tshirt:before {
  content: ""; }

.icon-trophy:before {
  content: ""; }

.icon-transfer:before {
  content: ""; }

.icon-telecommunications:before {
  content: ""; }

.icon-ted-doc:before {
  content: ""; }

.icon-status-happy-card:before {
  content: ""; }

.icon-sms-sent:before {
  content: ""; }

.icon-show-password:before {
  content: ""; }

.icon-share:before {
  content: ""; }

.icon-services:before {
  content: ""; }

.icon-school:before {
  content: ""; }

.icon-sad-card:before {
  content: ""; }

.icon-reminder:before {
  content: ""; }

.icon-recharge:before {
  content: ""; }

.icon-printer:before {
  content: ""; }

.icon-plus2:before {
  content: ""; }

.icon-plus:before {
  content: ""; }

.icon-players:before {
  content: ""; }

.icon-plane:before {
  content: ""; }

.icon-phone:before {
  content: ""; }

.icon-payment-card:before {
  content: ""; }

.icon-password:before {
  content: ""; }

.icon-no-sun:before {
  content: ""; }

.icon-no-padlock:before {
  content: ""; }

.icon-no-magnetic:before {
  content: ""; }

.icon-no-key:before {
  content: ""; }

.icon-no-clips:before {
  content: ""; }

.icon-newspaper:before {
  content: ""; }

.icon-music:before {
  content: ""; }

.icon-money-pig:before {
  content: ""; }

.icon-medal:before {
  content: ""; }

.icon-mastercard:before {
  content: ""; }

.icon-shopping-cart:before {
  content: ""; }

.icon-maplocation:before {
  content: ""; }

.icon-magnetic:before {
  content: ""; }

.icon-lottery:before {
  content: ""; }

.icon-location:before {
  content: ""; }

.icon-limits:before {
  content: ""; }

.icon-key:before {
  content: ""; }

.icon-interrogation:before {
  content: ""; }

.icon-internet:before {
  content: ""; }

.icon-insert-card:before {
  content: ""; }

.icon-hotel:before {
  content: ""; }

.icon-home:before {
  content: ""; }

.icon-help:before {
  content: ""; }

.icon-healthy-heart:before {
  content: ""; }

.icon-happy-recharge:before {
  content: ""; }

.icon-happy-padlock-2:before {
  content: ""; }

.icon-happy-padlock:before {
  content: ""; }

.icon-happy-desktop:before {
  content: ""; }

.icon-happy-cellphone:before {
  content: ""; }

.icon-gift:before {
  content: ""; }

.icon-getout:before {
  content: ""; }

.icon-gasoline:before {
  content: ""; }

.icon-furniture:before {
  content: ""; }

.icon-friends:before {
  content: ""; }

.icon-fork-knife:before {
  content: ""; }

.icon-flag-success:before {
  content: ""; }

.icon-fail-padlock:before {
  content: ""; }

.icon-factory:before {
  content: ""; }

.icon-exclamation:before {
  content: ""; }

.icon-email:before {
  content: ""; }

.icon-ecommerce:before {
  content: ""; }

.icon-dog:before {
  content: ""; }

.icon-documents:before {
  content: ""; }

.icon-document:before {
  content: ""; }

.icon-diamond:before {
  content: ""; }

.icon-deposit:before {
  content: ""; }

.icon-cvc:before {
  content: ""; }

.icon-custom:before {
  content: ""; }

.icon-corporatecard:before {
  content: ""; }

.icon-corporate:before {
  content: ""; }

.icon-construction:before {
  content: ""; }

.icon-error:before {
  content: ""; }

.icon-copy:before {
  content: ""; }

.icon-clipboard:before {
  content: ""; }

.icon-clip:before {
  content: ""; }

.icon-choose-card:before {
  content: ""; }

.icon-checked:before {
  content: ""; }

.icon-celphone:before {
  content: ""; }

.icon-cellphone:before {
  content: ""; }

.icon-casino:before {
  content: ""; }

.icon-cash-out:before {
  content: ""; }

.icon-cash-money:before {
  content: ""; }

.icon-cardmachine:before {
  content: ""; }

.icon-car:before {
  content: ""; }

.icon-camera:before {
  content: ""; }

.icon-bus:before {
  content: ""; }

.icon-padlock:before {
  content: ""; }

.icon-beauty:before {
  content: ""; }

.icon-bag:before {
  content: ""; }

.icon-arrow:before {
  content: ""; }

.icon-advantages-star:before {
  content: ""; }

.icon-advantages-info:before {
  content: ""; }

.icon-activation:before {
  content: ""; }

.icon-acessocard:before {
  content: ""; }

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0; }

.modal-dialog {
  position: relative; }
  @media (min-width: 48em) {
    .modal-dialog {
      position: static; } }
  .modal-dialog .modal {
    background-color: #fff;
    border-radius: 7px;
    left: 50%;
    outline: 0;
    padding: 10px 8px;
    position: absolute;
    top: 5%;
    transform: translate(-50%, 5%);
    width: 95%; }
    @media (min-width: 48em) {
      .modal-dialog .modal {
        padding: 20px 25px;
        top: 15%;
        transform: translate(-50%, -15%);
        width: 520px; } }
    .modal-dialog .modal .modal-header {
      text-align: center; }
      .modal-dialog .modal .modal-header .title {
        font-size: 20px;
        font-size: 1.25rem;
        font-family: Poppins, Arial;
        font-weight: 500;
        line-height: .9;
        text-align: center; }
        @media (min-width: 48em) {
          .modal-dialog .modal .modal-header .title {
            font-size: 28px;
            font-size: 1.75rem;
            line-height: .6; } }
      .modal-dialog .modal .modal-header .subtitle {
        font-size: 16px;
        font-size: 1rem;
        color: #00a6df;
        font-family: Roboto, Arial;
        font-weight: 500; }
        @media (min-width: 48em) {
          .modal-dialog .modal .modal-header .subtitle {
            font-size: 20px;
            font-size: 1.25rem; } }
      .modal-dialog .modal .modal-header .close {
        color: #c0bbbb;
        cursor: pointer;
        margin: 10px;
        position: absolute;
        right: 0;
        top: 0;
        transition: color .5s; }
        @media (min-width: 48em) {
          .modal-dialog .modal .modal-header .close {
            margin: 20px; } }
        .modal-dialog .modal .modal-header .close:hover {
          color: #00a6df; }
        .modal-dialog .modal .modal-header .close [class^='icon-'],
        .modal-dialog .modal .modal-header .close [class*=' icon-'] {
          font-size: 24px;
          font-size: 1.5rem; }
    .modal-dialog .modal .modal-content {
      margin-top: 20px; }
      @media (min-width: 48em) {
        .modal-dialog .modal .modal-content {
          font-size: 18px;
          font-size: 1.125rem; } }
      .modal-dialog .modal .modal-content .section-title {
        font-size: 22px;
        font-size: 1.375rem;
        color: #00a6df;
        margin-bottom: 0; }
    .modal-dialog .modal .modal-footer {
      margin-top: 20px; }

.track-step {
  display: flex;
  justify-content: center;
  list-style: none;
  position: relative; }
  .track-step .step {
    color: #d8d8d8;
    font-size: unset;
    margin: 0;
    transition: color 1s; }
    .track-step .step::before {
      color: unset;
      content: unset;
      font-size: unset;
      left: unset;
      max-height: unset;
      max-width: unset;
      position: unset;
      top: unset; }
    .track-step .step.active {
      color: #33a4dc; }
      .track-step .step.active:first-child {
        margin-right: 14px; }
        @media (min-width: 48em) {
          .track-step .step.active:first-child {
            margin-right: 64px; } }
      .track-step .step.active ~ .step {
        color: #33a4dc; }
      .track-step .step.active .step-icon {
        background-color: #fff;
        border: 2px solid #33a4dc;
        border-radius: 100%;
        display: inline-block;
        height: 32px;
        text-align: center;
        width: 32px; }
        @media (min-width: 48em) {
          .track-step .step.active .step-icon {
            border-width: 3px;
            height: 55px;
            width: 55px; } }
        .track-step .step.active .step-icon .icon {
          font-size: 22px;
          font-size: 1.375rem;
          line-height: 32px; }
          @media (min-width: 48em) {
            .track-step .step.active .step-icon .icon {
              font-size: 35px;
              font-size: 2.1875rem;
              line-height: 55px; } }
      .track-step .step.active .step-text {
        font-size: 15px;
        font-size: 0.9375rem;
        display: inline;
        font-weight: 500;
        line-height: 32px;
        margin-left: 10px;
        vertical-align: bottom; }
        @media (min-width: 48em) {
          .track-step .step.active .step-text {
            font-size: 18px;
            font-size: 1.125rem;
            line-height: 55px;
            margin-left: 20px; } }
      .track-step .step.active:not(:first-child) {
        margin: 0 16px; }
        @media (min-width: 48em) {
          .track-step .step.active:not(:first-child) {
            margin: 0 64px; } }
        .track-step .step.active:not(:first-child)::before {
          background-color: currentColor;
          content: '';
          display: block;
          height: 2px;
          left: -18px;
          position: relative;
          top: 50%;
          width: 18px; }
          @media (min-width: 48em) {
            .track-step .step.active:not(:first-child)::before {
              height: 3px;
              left: -64px;
              top: 47%;
              width: 64px; } }
      .track-step .step.active:last-child {
        margin-right: 0; }
    .track-step .step:not(.active) {
      border: 2px solid #d8d8d8;
      border-radius: 100%;
      display: inline-block;
      height: 12px;
      margin: 12px 0;
      width: 12px; }
      @media (min-width: 48em) {
        .track-step .step:not(.active) {
          margin: 22px 0; } }
      .track-step .step:not(.active) .step-icon,
      .track-step .step:not(.active) .step-text {
        display: none; }
      .track-step .step:not(.active) + .step:not(.active) {
        margin-left: 18px; }
        @media (min-width: 48em) {
          .track-step .step:not(.active) + .step:not(.active) {
            margin-left: 64px; } }
        .track-step .step:not(.active) + .step:not(.active)::after {
          background-color: #d8d8d8;
          content: '';
          display: block;
          height: 2px;
          left: -20px;
          position: relative;
          top: 50%;
          width: 18px; }
          @media (min-width: 48em) {
            .track-step .step:not(.active) + .step:not(.active)::after {
              height: 3px;
              left: -66px;
              width: 64px; } }
    .track-step .step.done {
      background-color: #33a4dc;
      border-color: #33a4dc;
      transition: background-color 1s; }
      .track-step .step.done::after {
        background-color: #33a4dc !important;
        transition: background-color 1s; }

.input-container {
  margin-top: 16px;
  position: relative; }
  .input-container .hint {
    color: #838383;
    display: none;
    opacity: 0; }
  .input-container label {
    font-size: 18px;
    font-size: 1.125rem;
    color: #d9d9d9;
    cursor: pointer;
    font-family: Poppins, Arial;
    font-weight: 500;
    left: 0;
    position: absolute;
    top: .8rem;
    transition: .2s ease-out; }
    @media (min-width: 48em) {
      .input-container label {
        font-size: 20px;
        font-size: 1.25rem; } }
  .input-container input {
    font-size: 18px;
    font-size: 1.125rem;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #d9d9d9;
    border-radius: 0;
    box-shadow: none;
    box-sizing: content-box;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    height: 40px;
    margin: 0 0 6px;
    outline: none;
    padding: 0;
    transition: border-bottom-color .5s ease-out;
    width: 100%; }
    @media (min-width: 48em) {
      .input-container input {
        font-size: 20px;
        font-size: 1.25rem; } }
    .input-container input:not(disabled):focus, .input-container input:not(disabled):not([value='']) {
      border-bottom-color: #00a6df; }
      .input-container input:not(disabled):focus + label, .input-container input:not(disabled):not([value='']) + label {
        font-size: 16px;
        font-size: 1rem;
        color: #00a6df;
        transform: translateY(-130%); }
        @media (min-width: 48em) {
          .input-container input:not(disabled):focus + label, .input-container input:not(disabled):not([value='']) + label {
            font-size: 18px;
            font-size: 1.125rem; } }
      .input-container input:not(disabled):focus ~ .hint, .input-container input:not(disabled):not([value='']) ~ .hint {
        display: inline-block;
        opacity: 1;
        transition: opacity .5s ease-out; }
    .input-container input:disabled {
      border-bottom-color: #d9d9d9; }
      .input-container input:disabled,
      .input-container input:disabled + label {
        cursor: not-allowed; }
      .input-container input:disabled:not([value='']) {
        border-bottom-color: #d9d9d9; }
        .input-container input:disabled:not([value='']),
        .input-container input:disabled:not([value='']) + label {
          cursor: not-allowed;
          color: #d9d9d9; }
  .input-container.valid .hint {
    display: none !important;
    opacity: 0 !important; }
  .input-container.valid .validation {
    color: #67c004; }
    .input-container.valid .validation::before {
      content: '\e963';
      font-family: 'acesso';
      margin-right: 5px; }
  .input-container.valid label {
    color: #67c004; }
  .input-container.valid input, .input-container.valid input:focus, .input-container.valid input:not([value='']) {
    border-bottom-color: #67c004;
    color: #67c004; }
    .input-container.valid input + label, .input-container.valid input:focus + label, .input-container.valid input:not([value='']) + label {
      color: #67c004; }
  .input-container.invalid .hint {
    display: none !important;
    opacity: 0 !important; }
  .input-container.invalid .validation {
    color: #d71010; }
    .input-container.invalid .validation::before {
      content: '\e95d';
      font-family: 'acesso';
      margin-right: 5px; }
  .input-container.invalid label {
    color: #d71010; }
  .input-container.invalid input, .input-container.invalid input:focus, .input-container.invalid input:not([value='']) {
    border-bottom-color: #d71010;
    color: #d71010; }
    .input-container.invalid input + label, .input-container.invalid input:focus + label, .input-container.invalid input:not([value='']) + label {
      color: #d71010; }
  .input-container.warning .hint {
    display: none !important;
    opacity: 0 !important; }
  .input-container.warning .validation {
    color: #f4a81d; }
    .input-container.warning .validation::before {
      content: '\e94b';
      font-family: 'acesso';
      margin-right: 5px; }
  .input-container.warning label {
    color: #f4a81d; }
  .input-container.warning input, .input-container.warning input:focus, .input-container.warning input:not([value='']) {
    border-bottom-color: #f4a81d;
    color: #f4a81d; }
    .input-container.warning input + label, .input-container.warning input:focus + label, .input-container.warning input:not([value='']) + label {
      color: #f4a81d; }
  .input-container.loading,
  .input-container.loading input,
  .input-container.loading label {
    cursor: progress; }
  .input-container.loading .hint {
    display: none !important;
    opacity: 0 !important; }
  .input-container.loading .loading::before {
    animation: spin 1s linear infinite;
    color: #00a6df;
    content: '\e958';
    display: inline-block;
    font-family: 'acesso';
    margin-right: 5px; }

.input-group {
  position: relative; }
  .input-group .btn {
    display: none;
    height: 32px;
    padding: 0 5px;
    position: absolute;
    right: 0;
    top: 3px;
    width: auto; }
  .input-group .btn-icon {
    color: #d9d9d9;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 3px;
    width: auto; }
    .input-group .btn-icon .icon {
      font-size: 28px;
      font-size: 1.75rem;
      display: block;
      text-align: center; }
    .input-group .btn-icon .text {
      font-size: 12px;
      font-size: 0.75rem;
      display: block;
      line-height: .3;
      text-align: center; }
  .input-group a {
    position: absolute;
    right: 0;
    top: -1.1rem;
    width: auto;
    color: #838383; }
  .input-group input:not(:disabled):not([value='']) ~ label ~ .btn, .input-group input:not(:disabled):focus ~ label ~ .btn {
    display: inline-block; }
  .input-group input:not(:disabled):not([value='']) ~ .btn-icon {
    color: #838383; }
  .input-group input:disabled ~ label ~ .btn {
    background-color: #d9d9d9;
    box-shadow: 0 3px 0 0 #c0c0c0;
    cursor: not-allowed;
    display: inline-block;
    pointer-events: none; }
  .input-group input:disabled ~ label ~ .btn-icon {
    cursor: not-allowed;
    display: none;
    pointer-events: none; }
  .input-group input:disabled ~ label ~ a {
    cursor: not-allowed;
    color: #d9d9d9; }

.input-container.fixed .hint {
  color: #838383;
  display: inline-block;
  opacity: 1; }

.input-container.fixed label {
  font-size: 16px;
  font-size: 1rem;
  color: #00a6df;
  top: -1.25rem;
  cursor: default; }
  @media (min-width: 48em) {
    .input-container.fixed label {
      font-size: 18px;
      font-size: 1.125rem; } }

.input-container.fixed input:not(disabled):focus + label, .input-container.fixed input:not(disabled):not([value='']) + label {
  transform: translateY(0); }

.input-container.fixed input:disabled + label {
  color: #d9d9d9; }

.input-container.fixed input:disabled ~ .hint {
  display: none; }

input[type='radio']:checked, input[type='radio']:not(:checked) {
  display: none; }
  input[type='radio']:checked + label, input[type='radio']:not(:checked) + label {
    font-size: 18px;
    font-size: 1.125rem;
    color: #838383;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto', Arial;
    line-height: 20px;
    margin: 10px;
    padding-left: 28px;
    position: relative; }
    @media (min-width: 48em) {
      input[type='radio']:checked + label, input[type='radio']:not(:checked) + label {
        font-size: 20px;
        font-size: 1.25rem; } }
    input[type='radio']:checked + label small, input[type='radio']:not(:checked) + label small {
      display: block; }
      @media (min-width: 48em) {
        input[type='radio']:checked + label small, input[type='radio']:not(:checked) + label small {
          display: inline-block; } }
    input[type='radio']:checked + label::before, input[type='radio']:not(:checked) + label::before {
      background: #fff;
      border: 1px solid #838383;
      border-radius: 100%;
      content: '';
      height: 18px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 18px; }
    input[type='radio']:checked + label::after, input[type='radio']:not(:checked) + label::after {
      background: #00a6df;
      border-radius: 100%;
      content: '';
      height: 12px;
      left: 4px;
      position: absolute;
      top: calc(50% - 6px);
      transition: .2s ease;
      width: 12px; }

input[type='radio']:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0); }

input[type='radio']:checked + label {
  color: #00a6df;
  font-weight: 500; }
  input[type='radio']:checked + label::before {
    border-color: #00a6df; }
  input[type='radio']:checked + label::after {
    opacity: 1;
    transform: scale(1); }

input[type='radio']:disabled + label {
  color: #d9d9d9; }
  input[type='radio']:disabled + label::before {
    border-color: #d9d9d9; }

.radio-group {
  border-bottom: solid 1px #d4d4d4;
  padding-bottom: 30px;
  padding-top: 20px; }
  .radio-group .radio-group-item.selected {
    background-color: #f4f4f4; }
  .radio-group.inline .radio-group-item {
    display: inline-block; }
