a {
  color: $primary-color;
  cursor: pointer;
  position: relative;
  text-decoration: none;

  &[disabled] {
    color: $disabled-color;
    cursor: not-allowed;
  }

  &:not([disabled]) {
    &::before {
      background-color: currentColor;
      bottom: 0;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      transform: scaleX(0);
      transition: transform .2s ease-in-out 0s;
      visibility: hidden;
      width: 100%;
    }

    &:hover,
    &.hover {
      &::before {
        transform: scaleX(1);
        visibility: visible;
      }
    }
  }

  [class^='icon-'],
  [class*=' icon-'] {
    margin-right: 5px;
  }
}
