<!doctype html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	{{#if fabricator}}<link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/fabricator/styles/f.css">{{/if}}

	<!-- toolkit styles -->
	<link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/toolkit.css">
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- /toolkit styles -->

</head>
<body>

	{{#if fabricator}}
		{{> f-icons}}
		{{> f-menu}}
		<div class="f-container">
			{{> f-control-bar}}
	{{/if}}


	{% body %}


	{{#if fabricator}}
		</div>
	<script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/fabricator/scripts/f.js"></script>
	{{/if}}

	<!-- toolkit scripts -->
	<script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/scripts/toolkit.js"></script>

	<!-- /toolkit scripts -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>


</body>
</html>
