//sass-lint:disable no-important
.visible-xs {
  @include respond-to(sm) {
    display: none !important;
  }


  display: block !important;
}

.hidden-xs {
  @include respond-to(sm) {
    display: block !important;
  }


  display: none !important;
}
