.track-step {
  @include respond-to(sm) {
    max-width: 570px;
  }


  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px auto 0;
  max-width: 320px;
  position: relative;

  .step {
    color: $step-background-color;
    font-size: unset;
    margin: 0;
    transition: color 1s;

    &::before {
      color: unset;
      content: unset;
      font-size: unset;
      left: unset;
      max-height: unset;
      max-width: unset;
      position: unset;
      top: unset;
    }

    &.active {
      color: $active-step-color;
      flex: 1;

      // &:first-child {
      //   @include respond-to(sm) {
      //     margin-right: 64px;
      //   }

      //   margin-right: 14px;
      // }

      // & ~ .step {
      //   color: $active-step-color;
      // }

      .step-icon {
        @include respond-to(sm) {
          border-width: 2px;
          height: 55px;
          width: 55px;
        }


        background-color: $active-step-background-color;
        border: 2px solid $active-step-color;
        border-radius: 100%;
        display: inline-block;
        height: 32px;
        text-align: center;
        width: 32px;

        .icon {
          @include respond-to(sm) {
            @include font-size(35px);

            line-height: 55px;
          }


          @include font-size(22px);

          line-height: 32px;
        }
      }

      .step-text {
        @include respond-to(sm) {
          @include font-size(18px);

          line-height: 55px;
        }


        @include font-size(15px);

        display: inline;
        font-weight: 500;
        line-height: 32px;
        margin-left: 10px;
        vertical-align: bottom;
      }

      &:not(:first-child) {
        @include respond-to(sm) {
          margin-left: 100px;
        }


        margin: 0 25px;

        .step-text {
          @include respond-to(sm) {
            line-height: 60px;
          }
        }

        &::before {
          @include respond-to(sm) {
            left: -100px;
            top: 50%;
            width: 100px;
          }


          background-color: currentColor;
          content: '';
          display: block;
          height: 2px;
          left: -25px;
          position: relative;
          top: 50%;
          width: 25px;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &:not(.active) {
      @include respond-to(sm) {
        height: 16px;
        margin: 24px 0;
        width: 16px;
      }


      border: 2px solid $step-background-color;
      border-radius: 100%;
      display: inline-block;
      height: 14px;
      margin: 12px 0;
      width: 14px;

      .step-icon,
      .step-text {
        display: none;
      }

      & + .step {
        &:not(.active) {
          @include respond-to(sm) {
            margin-left: 100px;
          }


          margin-left: 25px;

          &::after {
            @include respond-to(sm) {
              left: -102px;
              width: 100px;
            }


            background-color: $step-background-color;
            content: '';
            display: block;
            height: 2px;
            left: -27px;
            position: relative;
            top: 50%;
            width: 25px;
          }
        }
      }
    }

    &.done {
      background-color: $active-step-color;
      border-color: $active-step-color;
      transition: background-color 1s;

      &::after {
        //sass-lint:disable-block no-important
        background-color: $active-step-color !important;
        transition: background-color 1s;
      }
    }
  }
}
